fluxos.json.txt
[
    {
        "id": "f5466f1744923067",
        "type": "tab",
        "label": "Principal",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d41ea29c95fb2be7",
        "type": "group",
        "z": "f5466f1744923067",
        "name": "ENTRADA",
        "style": {
            "label": true,
            "stroke": "#6f2fa0",
            "fill": "#dbcbe7"
        },
        "nodes": [
            "5478786390104ffa",
            "2b09e94fcfbea043",
            "8709543848238e65",
            "755a89b41cef5a60",
            "197b460c22689fdf",
            "31ccbba873d2a304",
            "da6f75822b1de84f",
            "f47274d3234ee9ef",
            "e1109b533fe07f14",
            "6588f7f2b9960217",
            "9412b176db7e686a",
            "f9b29f794d5c32fb",
            "747fd922e5874157",
            "1f47cb96284e0ac2",
            "68f04f79d41285e4",
            "1a847e1a61c0e541",
            "03acea121454bbc9",
            "4b4e32dfd12afe10",
            "baeb08ee8534cb11",
            "bd06e5abfba4de71",
            "54a10b6cbae9603a",
            "60c8420430adfc05",
            "66f4958a143878a3",
            "d5642951e2475ca6",
            "926d55ae585c25d7",
            "dc093b634fa647e8",
            "5badbb451213e512",
            "c831e70e8544e858",
            "4210c40158e796d6",
            "cb98c59e426d7228",
            "63a224c878228109",
            "74e5af9133449209"
        ],
        "x": 54,
        "y": 19,
        "w": 632,
        "h": 462
    },
    {
        "id": "a3737532bf94bf2f",
        "type": "group",
        "z": "f5466f1744923067",
        "name": "EXIBIDORES",
        "style": {
            "label": true,
            "stroke": "#ffC000",
            "fill": "#ffefbf"
        },
        "nodes": [
            "4d229c8d5155e16d",
            "5b63e97fdb467cf3",
            "f21226346964b1b6",
            "5c1af8ee553e323c",
            "48a585e186fcd6bd",
            "13723cd519570db9",
            "94036c059ee43bdb",
            "d1e88ab03f490258",
            "7573ffd53ce17bf4",
            "b46df3a75e0c859c",
            "4526400407013585",
            "0274097d6946d0fc",
            "e0a5a28d39213f66",
            "3894b33c770a03f1",
            "f304d888f9b164c5",
            "f02e822c9db49e69",
            "3da96a0c613f2bd7",
            "c4ade06674c8d052",
            "73050eb3011b00b9",
            "8371de2fbb64b53c",
            "be0b82f9da68f638",
            "ecbe4fce30d84b11",
            "0e6df12e43b49fe0",
            "16afa382b4e274f8",
            "064f6deba55945c8",
            "a72fcce14fdebaac",
            "8f187b0775b39acf"
        ],
        "x": 54,
        "y": 499,
        "w": 632,
        "h": 582
    },
    {
        "id": "cab9df0607934169",
        "type": "group",
        "z": "f5466f1744923067",
        "name": "ANÁLISES DOS DADOS",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "d556573c3522b880",
            "a8b8968881379bc8",
            "f9543ce34b64b15b",
            "a705165394024a7b",
            "0df470e71e4b6b83",
            "f73868a82c135f77",
            "ec9d87bc071a2ce2",
            "9c662b88c3c3a74d",
            "fe5627ab99fc3e1f",
            "d5b8d1be395eb22f",
            "30e00246ad3a4d05",
            "70eb41b682ff1d95",
            "09af7fe8f3141946",
            "d0f8ee594c45aade",
            "308ab963713c66f8",
            "1605abb2a4c23223",
            "bfa1a8db6c79a47b",
            "28b528a46b5655ba",
            "90ad5da24a49a8cc",
            "adef2e0f9a04b498",
            "cc67559c564d738b",
            "7cabb25ee1a023a1"
        ],
        "x": 54,
        "y": 1099,
        "w": 632,
        "h": 602
    },
    {
        "id": "682dfa7f053383dc",
        "type": "group",
        "z": "f5466f1744923067",
        "name": "OPERADORES NODE-RED",
        "style": {
            "stroke": "#777777",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "d295bd3356896cfd",
            "b670097709ef0458",
            "00c309eb53f7bece",
            "e14c81e07f506188",
            "6f1a4a28f24f72c0",
            "09961f428d7df816",
            "ab8aad5b364b6eb3",
            "4a93b07e5826cd42",
            "b7a3d3ebdfe7ea17"
        ],
        "x": 714,
        "y": 279,
        "w": 552,
        "h": 202
    },
    {
        "id": "48c8b98d2c24bf2e",
        "type": "group",
        "z": "f5466f1744923067",
        "name": "SAÍDAS",
        "style": {
            "stroke": "#ffff00",
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "e28adea4ace4bb96",
            "07bca856e7df375a",
            "447e83dc414e61ad",
            "d32b0496c8090516",
            "e8e174f735c8430b",
            "a03dc16e26527413",
            "d4bb33a9c3bf87ee"
        ],
        "x": 714,
        "y": 19,
        "w": 552,
        "h": 242
    },
    {
        "id": "6919abec24585d8d",
        "type": "mqtt-broker",
        "name": "broker_lab",
        "broker": "200.145.26.2",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ff4e064443111e23",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "brown",
                "accents": "blue",
                "warn": "red",
                "background": "amber",
                "palette": "light"
            }
        },
        "site": {
            "name": "Dashboard Sorting FMS",
            "hideToolbar": "false",
            "allowSwipe": "mouse",
            "lockMenu": "true",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a0933e7b7cec075c",
        "type": "ui_tab",
        "name": "Configurar CLP",
        "icon": "settings_applications",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f27f199a9583ebd7",
        "type": "ui_tab",
        "name": "Dados CLP",
        "icon": "remove_red_eye",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3e7269327dfb4ef3",
        "type": "ui_group",
        "name": "DADOS DE PRODUÇÃO",
        "tab": "f27f199a9583ebd7",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4c112b3d48b4dc31",
        "type": "mqtt-broker",
        "name": "",
        "broker": "200.145.26.2",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1b2c7476aec5541c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1fa9f9731566e618",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "1b2c7476aec5541c",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "18119c41d8afc4b4",
        "type": "mqtt-broker",
        "name": "Mosquitto_home",
        "broker": "192.168.15.34",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "335c360e0d93b3a6",
        "type": "ui_group",
        "name": "COMANDOS PARA O CLP",
        "tab": "a0933e7b7cec075c",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6cd6e7414ae50dec",
        "type": "ui_tab",
        "name": "Sobre",
        "icon": "tag_faces",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a1c0c5109cf6184c",
        "type": "ui_group",
        "name": "Info.",
        "tab": "6cd6e7414ae50dec",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2748bc536203c41a",
        "type": "ui_spacer",
        "z": "f5466f1744923067",
        "name": "spacer",
        "group": "3e7269327dfb4ef3",
        "order": 1,
        "width": 4,
        "height": 1
    },
    {
        "id": "5478786390104ffa",
        "type": "mqtt in",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "Broker_lab",
        "topic": "sorting_fms/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6919abec24585d8d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2b09e94fcfbea043",
        "type": "function",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "Topic.separator",
        "func": "let outs = [null, null, null, null, null, null, null];\n\n// SEPARAÇÃO POR TÓPICO\nif (msg.topic.includes(\"byte10\")) { outs[0] = msg; } //Memórias gerais\nif (msg.topic.includes(\"byte11\")) { outs[1] = msg; } //Memorias gerais\nif (msg.topic.includes(\"byte15\")) { outs[2] = msg; } //Quantidade de peças metálicas\nif (msg.topic.includes(\"byte20\")) { outs[3] = msg; } //Quantidade de peças pretas\nif (msg.topic.includes(\"byte25\")) { outs[4] = msg; } //Quantidade de peças vermelhas\nif (msg.topic.includes(\"byte50\")) { outs[5] = msg; } //Tempo da peça na linha\nif (msg.topic.includes(\"byte40\")) { outs[6] = msg; } //Tempo de start\n\nreturn outs;",
        "outputs": 7,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 260,
        "wires": [
            [
                "197b460c22689fdf"
            ],
            [
                "31ccbba873d2a304"
            ],
            [
                "da6f75822b1de84f"
            ],
            [
                "f47274d3234ee9ef"
            ],
            [
                "e1109b533fe07f14"
            ],
            [
                "6588f7f2b9960217"
            ],
            [
                "9412b176db7e686a"
            ]
        ]
    },
    {
        "id": "8709543848238e65",
        "type": "function",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "Byte 10",
        "func": "let valorByte = Number(msg.payload);\n\n// Extração dos bits\nlet bit0 = (valorByte & 1) !== 0;\nlet bit1 = (valorByte & 2) !== 0;\nlet bit2 = (valorByte & 4) !== 0; // RESET\nlet bit3 = (valorByte & 8) !== 0;\nlet bit4 = (valorByte & 16) !== 0; // Ocupada (Linha com peça)\nlet bit5 = (valorByte & 32) !== 0; // Metálica\nlet bit6 = (valorByte & 64) !== 0; // Vermelha\nlet bit7 = (valorByte & 128) !== 0; // Preta\n\n// Busca a memória de cor e tempos\nlet memoria = context.get('memoriaCor') || 'vazio';\nlet anteriorOcupada = context.get('ocupadaAnterior') || false;\nlet horaEntrada = context.get('horaEntrada') || 0;\nlet msgAnalise = null;\n\nif (bit4 === true && anteriorOcupada === false) {\n    context.set('horaEntrada', Date.now());\n}\nif (bit4 === false && anteriorOcupada === true) {\n    let agora = Date.now();\n    let duracao = (agora - horaEntrada) / 1000; // converte ms pra seg\n    msgAnalise = {\n        payload: duracao,\n        cor: memoria,\n        topic: \"nova_peca\"\n    };\n}\n\ncontext.set('ocupadaAnterior', bit4);\n\n// ==========================================\n// ESTADO DO CRONÔMETRO E RESET\n// ==========================================\nflow.set(\"resetAtivo\", bit2);\n\nif (bit0 === true) {\n    flow.set(\"estadoDaMaquina\", \"START\");\n} else if (bit1 === true) {\n    flow.set(\"estadoDaMaquina\", \"STOP\");\n}\n\nif (bit2 === true) {\n    flow.set(\"tempoStart\", 0);\n    flow.set(\"tempoStop\", 0);\n    flow.set(\"estadoDaMaquina\", \"STOP\");\n}\n//cor\nif (bit4 === false) {\n    memoria = 'vazio';\n    context.set('memoriaCor', memoria);\n} else {\n    if (memoria === 'vazio') memoria = 'preta';\n    if (memoria !== 'metalica') {\n        if (bit5 === true) memoria = 'metalica';\n        else if (bit6 === true) memoria = 'vermelha';\n        else if (bit7 === true) memoria = 'preta';\n    }\n    context.set('memoriaCor', memoria);\n}\n\n// Sinais de botões \nlet m_start = bit0 ? { payload: true, topic: \"start\" } : null;\nlet m_stop = bit1 ? { payload: true, topic: \"stop\" } : null;\nlet m_reset = bit2 ? { payload: true, topic: \"reset\" } : null;\nlet m_problema = bit3 ? { payload: true, topic: \"problema\" } : null;\nlet m_ocupada = { payload: bit4 };\nlet m_metalica = (memoria === 'metalica' && bit4) ? { payload: true, topic: \"metalica\" } : null;\nlet m_vermelha = (memoria === 'vermelha' && bit4) ? { payload: true, topic: \"vermelha\" } : null;\nlet m_preta = (memoria === 'preta' && bit4) ? { payload: true, topic: \"preta\" } : null;\n\n// outrpus\nreturn [m_start, m_stop, m_reset, m_problema, m_ocupada, m_metalica, m_vermelha, m_preta, msgAnalise];",
        "outputs": 9,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "68f04f79d41285e4"
            ],
            [
                "1a847e1a61c0e541"
            ],
            [
                "03acea121454bbc9"
            ],
            [
                "4b4e32dfd12afe10"
            ],
            [
                "baeb08ee8534cb11"
            ],
            [
                "bd06e5abfba4de71"
            ],
            [
                "54a10b6cbae9603a"
            ],
            [
                "60c8420430adfc05"
            ],
            [
                "cb98c59e426d7228"
            ]
        ]
    },
    {
        "id": "755a89b41cef5a60",
        "type": "function",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "Byte 11",
        "func": "let valorByte = Number(msg.payload);\n\n//-----------------------------------//\n// EXTRAÇÃO DOS BITS\n//-----------------------------------//\nlet bit0 = (valorByte & 1) !== 0; \nlet bit1 = (valorByte & 2) !== 0; \nlet bit2 = (valorByte & 4) !== 0; \nlet bit3 = (valorByte & 8) !== 0; \nlet bit4 = (valorByte & 16) !== 0;\nlet bit5 = (valorByte & 32) !== 0; // EMERGÊNCIA\nlet bit6 = (valorByte & 64) !== 0;\nlet bit7 = (valorByte & 128) !== 0;\n\n//-----------------------------------//\n// BLOQUEIO DO CRONÔMETRO\n//-----------------------------------//\nflow.set(\"emergenciaAtiva\", bit5);\n\n//-----------------------------------//\n// PREPARAÇÃO DAS SAÍDAS\n//-----------------------------------//\nlet m_bit0 = { payload: bit0 };\nlet m_bit1 = { payload: bit1 };\nlet m_bit2 = { payload: bit2 };\nlet m_bit3 = { payload: bit3 };\nlet m_bit4 = { payload: bit4 };\nlet m_emergencia = { payload: bit5, topic: \"emergencia\" };\nlet m_bit6 = { payload: bit6 };\nlet m_bit7 = { payload: bit7 };\n\nreturn [m_bit0, m_bit1, m_bit2, m_bit3, m_bit4, m_emergencia, m_bit6, m_bit7];",
        "outputs": 8,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 380,
        "wires": [
            [
                "63a224c878228109"
            ],
            [
                "66f4958a143878a3"
            ],
            [
                "d5642951e2475ca6"
            ],
            [
                "926d55ae585c25d7"
            ],
            [
                "dc093b634fa647e8"
            ],
            [
                "5badbb451213e512"
            ],
            [
                "c831e70e8544e858"
            ],
            [
                "4210c40158e796d6"
            ]
        ]
    },
    {
        "id": "197b460c22689fdf",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "OUT_Byte10",
        "mode": "link",
        "links": [
            "f9b29f794d5c32fb"
        ],
        "x": 425,
        "y": 200,
        "wires": []
    },
    {
        "id": "31ccbba873d2a304",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "OUT_Byte11",
        "mode": "link",
        "links": [
            "747fd922e5874157"
        ],
        "x": 425,
        "y": 220,
        "wires": []
    },
    {
        "id": "da6f75822b1de84f",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "OUT_Byte15",
        "mode": "link",
        "links": [
            "f304d888f9b164c5",
            "308ab963713c66f8"
        ],
        "x": 425,
        "y": 240,
        "wires": []
    },
    {
        "id": "f47274d3234ee9ef",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "OUT_Byte20 ",
        "mode": "link",
        "links": [
            "f02e822c9db49e69",
            "1605abb2a4c23223"
        ],
        "x": 425,
        "y": 260,
        "wires": []
    },
    {
        "id": "e1109b533fe07f14",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "OUT_Byte25",
        "mode": "link",
        "links": [
            "3da96a0c613f2bd7",
            "d0f8ee594c45aade"
        ],
        "x": 425,
        "y": 280,
        "wires": []
    },
    {
        "id": "6588f7f2b9960217",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "OUT_Byte50",
        "mode": "link",
        "links": [
            "3894b33c770a03f1"
        ],
        "x": 425,
        "y": 300,
        "wires": []
    },
    {
        "id": "9412b176db7e686a",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "OUT_Byte55",
        "mode": "link",
        "links": [
            "c4ade06674c8d052"
        ],
        "x": 425,
        "y": 320,
        "wires": []
    },
    {
        "id": "f9b29f794d5c32fb",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "IN_Byte10",
        "links": [
            "197b460c22689fdf"
        ],
        "x": 475,
        "y": 180,
        "wires": [
            [
                "8709543848238e65"
            ]
        ]
    },
    {
        "id": "747fd922e5874157",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "IN_Byte11",
        "links": [
            "31ccbba873d2a304"
        ],
        "x": 475,
        "y": 380,
        "wires": [
            [
                "755a89b41cef5a60"
            ]
        ]
    },
    {
        "id": "1f47cb96284e0ac2",
        "type": "comment",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "Este grupo recebe os dados via MQTT e faz a separação dos dados recebidos.",
        "info": "**Este grupo recebe os dados via MQTT e faz a separação dos dados recebidos. Os dados vem em topicos diferentes. **",
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "68f04f79d41285e4",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B10_0",
        "mode": "link",
        "links": [
            "94036c059ee43bdb"
        ],
        "x": 645,
        "y": 100,
        "wires": []
    },
    {
        "id": "1a847e1a61c0e541",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B10_1",
        "mode": "link",
        "links": [
            "7573ffd53ce17bf4"
        ],
        "x": 645,
        "y": 120,
        "wires": []
    },
    {
        "id": "03acea121454bbc9",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B10_2",
        "mode": "link",
        "links": [
            "b46df3a75e0c859c"
        ],
        "x": 645,
        "y": 140,
        "wires": []
    },
    {
        "id": "4b4e32dfd12afe10",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B10_3",
        "mode": "link",
        "links": [
            "4526400407013585"
        ],
        "x": 645,
        "y": 160,
        "wires": []
    },
    {
        "id": "baeb08ee8534cb11",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B10_4",
        "mode": "link",
        "links": [
            "f21226346964b1b6"
        ],
        "x": 645,
        "y": 180,
        "wires": []
    },
    {
        "id": "bd06e5abfba4de71",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B10_5",
        "mode": "link",
        "links": [
            "48a585e186fcd6bd"
        ],
        "x": 645,
        "y": 200,
        "wires": []
    },
    {
        "id": "54a10b6cbae9603a",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B10_6",
        "mode": "link",
        "links": [
            "0274097d6946d0fc"
        ],
        "x": 645,
        "y": 220,
        "wires": []
    },
    {
        "id": "60c8420430adfc05",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B10_7",
        "mode": "link",
        "links": [
            "e0a5a28d39213f66"
        ],
        "x": 645,
        "y": 240,
        "wires": []
    },
    {
        "id": "66f4958a143878a3",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B11_1",
        "mode": "link",
        "links": [],
        "x": 645,
        "y": 320,
        "wires": []
    },
    {
        "id": "d5642951e2475ca6",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B11_2",
        "mode": "link",
        "links": [],
        "x": 645,
        "y": 340,
        "wires": []
    },
    {
        "id": "926d55ae585c25d7",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B11_3",
        "mode": "link",
        "links": [],
        "x": 645,
        "y": 360,
        "wires": []
    },
    {
        "id": "dc093b634fa647e8",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B11_4",
        "mode": "link",
        "links": [],
        "x": 645,
        "y": 380,
        "wires": []
    },
    {
        "id": "5badbb451213e512",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B11_5",
        "mode": "link",
        "links": [
            "73050eb3011b00b9"
        ],
        "x": 645,
        "y": 400,
        "wires": []
    },
    {
        "id": "c831e70e8544e858",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B11_6",
        "mode": "link",
        "links": [],
        "x": 645,
        "y": 420,
        "wires": []
    },
    {
        "id": "4210c40158e796d6",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B11_7",
        "mode": "link",
        "links": [],
        "x": 645,
        "y": 440,
        "wires": []
    },
    {
        "id": "4d229c8d5155e16d",
        "type": "ui_template",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "group": "3e7269327dfb4ef3",
        "name": "Linha ocupada",
        "order": 6,
        "width": 9,
        "height": 3,
        "format": "<div style=\"display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; padding: 5px; box-sizing: border-box; overflow: hidden;\">\n    \n    <div style=\"display: flex; align-items: center; padding: 15px; border-radius: 10px; color: white; transition: all 0.4s; width: 95%; box-sizing: border-box;\"\n         ng-style=\"{'background-color': msg.payload ? '#c0392b' : '#27ae60'}\">\n        \n        <div style=\"flex-grow: 1;\">\n            <div style=\"font-size: 0.75em; text-transform: uppercase; opacity: 0.8; letter-spacing: 1px;\">Disponibilidade</div>\n            <div style=\"font-size: 1.5em; font-weight: bold; margin-top: 2px;\">\n                {{msg.payload ? 'LINHA OCUPADA' : 'LINHA LIVRE'}}\n            </div>\n        </div>\n        \n        <i class=\"fa fa-2x\" ng-class=\"msg.payload ? 'fa-ban' : 'fa-check-circle'\"></i>\n    </div>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 200,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "5b63e97fdb467cf3",
        "type": "ui_template",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "group": "3e7269327dfb4ef3",
        "name": "Tempo peça na linha",
        "order": 9,
        "width": 9,
        "height": 3,
        "format": "<div\n    style=\"display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; padding: 5px; box-sizing: border-box; overflow: hidden;\">\n\n    <div\n        style=\"display: flex; align-items: center; padding: 15px; border-radius: 10px; color: white; background-color: #34495e; transition: all 0.4s; width: 95%; box-sizing: border-box; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">\n\n        <div style=\"flex-grow: 1;\">\n            <div style=\"font-size: 0.75em; text-transform: uppercase; opacity: 0.8; letter-spacing: 1px;\">Tempo de Linha\n            </div>\n            <div style=\"display: flex; align-items: baseline; margin-top: 2px;\">\n                <span style=\"font-size: 1.8em; font-weight: bold;\">{{msg.payload}}</span>\n                <span style=\"font-size: 0.9em; margin-left: 5px; opacity: 0.7;\">segundos</span>\n            </div>\n        </div>\n\n        <div style=\"background: rgba(255,255,255,0.1); padding: 10px; border-radius: 50%;\">\n            <i class=\"fa fa-clock-o fa-2x\"></i>\n        </div>\n    </div>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 220,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "f21226346964b1b6",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "Linha ocupada",
        "links": [
            "baeb08ee8534cb11"
        ],
        "x": 95,
        "y": 620,
        "wires": [
            [
                "4d229c8d5155e16d"
            ]
        ]
    },
    {
        "id": "5c1af8ee553e323c",
        "type": "ui_template",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "group": "3e7269327dfb4ef3",
        "name": "Cor da peça",
        "order": 8,
        "width": 9,
        "height": 3,
        "format": "<div\n    style=\"display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; padding: 5px; box-sizing: border-box; overflow: hidden;\">\n    \n    <div ng-init=\"estadoPeca = {nome: 'AGUARDANDO...', cor: '#555', icone: 'pause'}\"\n         style=\"display: flex; align-items: center; padding: 15px; border-radius: 10px; color: white; transition: all 0.4s; width: 95%; max-width: 400px; box-sizing: border-box;\"\n         ng-style=\"{'background-color': estadoPeca.cor}\">\n        \n        <div style=\"flex-grow: 1;\">\n            <div style=\"font-size: 0.75em; text-transform: uppercase; opacity: 0.8; letter-spacing: 1px;\">Cor da peça na Linha</div>\n            <div style=\"font-size: 1.5em; font-weight: bold; margin-top: 2px;\">{{estadoPeca.nome}}</div>\n        </div>\n        \n        <i class=\"fa fa-2x\" ng-class=\"'fa-' + estadoPeca.icone\"></i>\n    </div>\n\n    <script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg && msg.payload === true) {\n                \n                // Grava a cor correta\n                if (msg.topic === 'metalica') {\n                    scope.estadoPeca = {nome: 'METÁLICA', cor: '#95a5a6', icone: 'cog'};\n                } \n                else if (msg.topic === 'vermelha') {\n                    scope.estadoPeca = {nome: 'VERMELHA', cor: '#e74c3c', icone: 'cube'};\n                } \n                else if (msg.topic === 'preta') {\n                    scope.estadoPeca = {nome: 'PRETA', cor: '#2c3e50', icone: 'square'};\n                } \n                // APAGA quando a linha fica vazia (Recebe o comando 'limpar' da Function)\n                else if (msg.topic === 'limpar') {\n                    scope.estadoPeca = {nome: 'AGUARDANDO...', cor: '#555', icone: 'pause'};\n                }\n            }\n        });\n    })(scope);\n    </script>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 590,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "48a585e186fcd6bd",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "cor_metalica",
        "links": [
            "bd06e5abfba4de71"
        ],
        "x": 425,
        "y": 600,
        "wires": [
            [
                "5c1af8ee553e323c"
            ]
        ]
    },
    {
        "id": "13723cd519570db9",
        "type": "ui_template",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "group": "3e7269327dfb4ef3",
        "name": "Status da linha",
        "order": 7,
        "width": 9,
        "height": 3,
        "format": "<style>\n    /* Regra para o fundo piscar em tons de vermelho */\n    @keyframes piscar-emergencia {\n        0% {\n            background-color: #c0392b;\n        }\n\n        /* Vermelho Escuro */\n        50% {\n            background-color: #ff4d4d;\n        }\n\n        /* Vermelho Vibrante */\n        100% {\n            background-color: #c0392b;\n        }\n\n        /* Volta pro Escuro */\n    }\n\n    .status-card {\n        display: flex;\n        align-items: center;\n        padding: 15px;\n        border-radius: 10px;\n        color: white;\n        transition: all 0.3s;\n        width: 95%;\n        box-sizing: border-box;\n    }\n\n    /* Classe que aplica a animação */\n    .animar-emergencia {\n        animation: piscar-emergencia 0.8s infinite;\n        box-shadow: 0 0 15px #ff4d4d;\n    }\n</style>\n\n<div\n    style=\"display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; padding: 5px; box-sizing: border-box; overflow: hidden;\">\n\n    <div class=\"status-card\" ng-class=\"{'animar-emergencia': msg.st_is_emergencia}\"\n        ng-style=\"{'background-color': msg.st_cor || '#2c3e50'}\">\n\n        <div style=\"flex-grow: 1;\">\n            <div style=\"font-size: 0.75em; text-transform: uppercase; opacity: 0.8; letter-spacing: 1px;\">\n                Status do Sistema\n            </div>\n            <div style=\"font-size: 1.5em; font-weight: bold; margin-top: 2px;\">\n                {{msg.st_texto || 'INICIALIZANDO...'}}\n            </div>\n        </div>\n\n        <i class=\"fa fa-2x\" ng-class=\"'fa-' + (msg.st_icone || 'power-off')\"></i>\n    </div>\n\n    <script>\n        (function(scope) {\n            scope.$watch('msg', function(msg) {\n                if (msg && msg.payload === true) {\n                    // Resetamos o estado de emergência em cada troca\n                    msg.st_is_emergencia = false;\n\n                    if (msg.topic === 'start') {\n                        msg.st_texto = 'RODANDO'; \n                        msg.st_cor = '#2ecc71'; \n                        msg.st_icone = 'play-circle';\n                    } \n                    else if (msg.topic === 'stop') {\n                        msg.st_texto = 'INTERROMPIDO'; \n                        msg.st_cor = '#e67e22'; \n                        msg.st_icone = 'stop-circle';\n                    } \n                    else if (msg.topic === 'reset') {\n                        msg.st_texto = 'SISTEMA PRONTO'; \n                        msg.st_cor = '#3498db'; \n                        msg.st_icone = 'refresh';\n                    } \n                    else if (msg.topic === 'problema') {\n                        msg.st_texto = 'ERRO / FALHA'; \n                        msg.st_cor = '#c0392b'; \n                        msg.st_icone = 'warning';\n                    }\n                    // NOVA LÓGICA DE EMERGÊNCIA\n                    else if (msg.topic === 'emergencia') {\n                        msg.st_texto = 'EMERGÊNCIA ATIVA'; \n                        msg.st_cor = '#c0392b'; \n                        msg.st_icone = 'exclamation-triangle';\n                        msg.st_is_emergencia = true; // Ativa o pisca-pisca CSS\n                    }\n                }\n            });\n        })(scope);\n    </script>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 220,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "94036c059ee43bdb",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "M_start",
        "links": [
            "68f04f79d41285e4"
        ],
        "x": 95,
        "y": 800,
        "wires": [
            [
                "13723cd519570db9"
            ]
        ]
    },
    {
        "id": "d1e88ab03f490258",
        "type": "ui_template",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "group": "3e7269327dfb4ef3",
        "name": "Contagem peças",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Estilo do fundo amarelo claro */\n    .dashboard-container {\n        background-color: #fdf5cc; \n        padding: 15px;\n        border-radius: 8px;\n        font-family: 'Roboto', Arial, sans-serif;\n        box-sizing: border-box;\n        width: 100%;\n        height: 100%;\n    }\n    \n    /* Estilo base das caixas */\n    .box {\n        border-radius: 8px;\n        text-align: center;\n        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);\n        color: white;\n    }\n    \n    .box-title {\n        font-size: 14px;\n        font-weight: 600;\n        padding-top: 10px;\n        letter-spacing: 0.5px;\n        text-transform: uppercase;\n        color: #f0f0f0;\n    }\n    \n    .box-value {\n        font-size: 38px;\n        font-weight: 700;\n        margin: 5px 0 10px 0;\n        text-shadow: 0px 2px 4px rgba(0,0,0,0.3);\n    }\n    \n    /* Caixa de Produção Total (Azul Escuro) */\n    .total-box {\n        background-color: #314455;\n        margin-bottom: 12px;\n    }\n    \n    .total-box .box-value {\n        font-size: 52px;\n        color: #ffffff;\n    }\n    \n    /* Linha inferior de peças */\n    .row-bottom {\n        display: flex;\n        gap: 10px;\n        justify-content: space-between;\n    }\n    \n    .sub-box {\n        flex: 1;\n    }\n    \n    /* Cores das categorias */\n    .bg-red { background-color: #d9423e; }\n    .bg-black { background-color: #1c1c1c; }\n    .bg-metal { background-color: #92a2a4; }\n</style>\n\n<div class=\"dashboard-container\">\n    <div class=\"box total-box\">\n        <div class=\"box-title\">Produção Total</div>\n        <div class=\"box-value\">{{ total }}</div>\n    </div>\n\n    <div class=\"row-bottom\">\n        <div class=\"box sub-box bg-red\">\n            <div class=\"box-title\">Vermelhas</div>\n            <div class=\"box-value\">{{ vermelhas }}</div>\n        </div>\n        <div class=\"box sub-box bg-black\">\n            <div class=\"box-title\">Pretas</div>\n            <div class=\"box-value\">{{ pretas }}</div>\n        </div>\n        <div class=\"box sub-box bg-metal\">\n            <div class=\"box-title\">Metal</div>\n            <div class=\"box-value\">{{ metal }}</div>\n        </div>\n    </div>\n</div>\n\n<script>\n(function(scope) {\n    // Inicializa as variáveis no painel com valor 0\n    scope.vermelhas = 0;\n    scope.pretas = 0;\n    scope.metal = 0;\n    scope.total = 0;\n\n    // Fica escutando as mensagens que chegam no nó\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.topic) {\n            \n            // Converte o payload para Número (se der erro, assume 0)\n            let valor = Number(msg.payload) || 0;\n\n            // Atualiza a categoria específica\n            if (msg.topic.includes(\"byte25\")) {\n                scope.vermelhas = valor;\n            } else if (msg.topic.includes(\"byte20\")) {\n                scope.pretas = valor;\n            } else if (msg.topic.includes(\"byte15\")) {\n                scope.metal = valor;\n            } \n            // Opcional: Se o seu byte50 realmente for o total e você quiser usá-lo no futuro:\n            // else if (msg.topic.includes(\"byte50\")) {\n            //     scope.total = valor;\n            // }\n\n            // O SEGREDO DO SUCESSO: Força o cálculo do Total somando as 3 variáveis.\n            // Assim não dependemos de um tópico específico para a Produção Total.\n            scope.total = scope.vermelhas + scope.pretas + scope.metal;\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 570,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "7573ffd53ce17bf4",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "M_stop",
        "links": [
            "1a847e1a61c0e541"
        ],
        "x": 95,
        "y": 820,
        "wires": [
            [
                "13723cd519570db9"
            ]
        ]
    },
    {
        "id": "b46df3a75e0c859c",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "M_reset",
        "links": [
            "03acea121454bbc9"
        ],
        "x": 95,
        "y": 840,
        "wires": [
            [
                "13723cd519570db9"
            ]
        ]
    },
    {
        "id": "4526400407013585",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "M_problema ",
        "links": [
            "4b4e32dfd12afe10"
        ],
        "x": 95,
        "y": 860,
        "wires": [
            [
                "13723cd519570db9",
                "a72fcce14fdebaac"
            ]
        ]
    },
    {
        "id": "0274097d6946d0fc",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "cor_vermelha",
        "links": [
            "54a10b6cbae9603a"
        ],
        "x": 425,
        "y": 620,
        "wires": [
            [
                "5c1af8ee553e323c"
            ]
        ]
    },
    {
        "id": "e0a5a28d39213f66",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "cor_preta",
        "links": [
            "60c8420430adfc05"
        ],
        "x": 425,
        "y": 640,
        "wires": [
            [
                "5c1af8ee553e323c"
            ]
        ]
    },
    {
        "id": "3894b33c770a03f1",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "Tempo peça na linha",
        "links": [
            "6588f7f2b9960217"
        ],
        "x": 95,
        "y": 720,
        "wires": [
            [
                "5b63e97fdb467cf3"
            ]
        ]
    },
    {
        "id": "f304d888f9b164c5",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "qtd_metalicas",
        "links": [
            "da6f75822b1de84f"
        ],
        "x": 425,
        "y": 680,
        "wires": [
            [
                "d1e88ab03f490258"
            ]
        ]
    },
    {
        "id": "f02e822c9db49e69",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "qtd_pretas",
        "links": [
            "f47274d3234ee9ef"
        ],
        "x": 425,
        "y": 700,
        "wires": [
            [
                "d1e88ab03f490258"
            ]
        ]
    },
    {
        "id": "3da96a0c613f2bd7",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "qtd_vermelhas",
        "links": [
            "e1109b533fe07f14"
        ],
        "x": 425,
        "y": 720,
        "wires": [
            [
                "d1e88ab03f490258"
            ]
        ]
    },
    {
        "id": "c4ade06674c8d052",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "link in 13",
        "links": [
            "9412b176db7e686a"
        ],
        "x": 425,
        "y": 740,
        "wires": [
            [
                "d1e88ab03f490258"
            ]
        ]
    },
    {
        "id": "d295bd3356896cfd",
        "type": "inject",
        "z": "f5466f1744923067",
        "g": "682dfa7f053383dc",
        "name": "Clock 1s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 820,
        "y": 360,
        "wires": [
            [
                "b670097709ef0458"
            ]
        ]
    },
    {
        "id": "d556573c3522b880",
        "type": "function",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "Tempos analise",
        "func": "// 0. Verifica se o Broker está conectado antes de processar qualquer coisa\nlet brokerLigado = flow.get(\"brokerLigado\");\n\nif (brokerLigado === false) {\n    // Se a conexão caiu, ele para a execução aqui e não soma nada nos tempos\n    return null; \n}\n\n// 1. Puxa os estados de bloqueio\nlet emergencia = flow.get(\"emergenciaAtiva\") || false;\nlet resetAtivo = flow.get(\"resetAtivo\") || false;\n\n// 2. Pega os tempos atuais\nlet tempoStart = flow.get(\"tempoStart\") || 0;\nlet tempoStop = flow.get(\"tempoStop\") || 0;\nlet tempoTotal = tempoStart + tempoStop;\n\n// 3. CÁLCULO PARA O GAUGE (Análise de Disponibilidade)\n// Calculamos a porcentagem: (Tempo Start / Tempo Total) * 100\nlet disponibilidade = 0;\nif (tempoTotal > 0) {\n    disponibilidade = (tempoStart / tempoTotal) * 100;\n}\n\n\nfunction format(s) {\n    let h = Math.floor(s / 3600).toString().padStart(2, '0');\n    let m = Math.floor((s % 3600) / 60).toString().padStart(2, '0');\n    let s_ = (s % 60).toString().padStart(2, '0');\n    return `${h}:${m}:${s_}`;\n}\n\n// =============================================================\n// LÓGICA DE CONGELAMENTO (Emergência ou Reset)\n// =============================================================\nif (emergencia === true || resetAtivo === true) {\n    return [\n        { payload: format(tempoStart) },\n        { payload: format(tempoStop) },\n        { payload: format(tempoTotal) },\n        { payload: Number(disponibilidade.toFixed(1)) } // Gauge parado\n    ];\n}\n\nlet estado = flow.get(\"estadoDaMaquina\") || \"STOP\";\n\nif (estado === \"START\") {\n    tempoStart++;\n} else {\n    tempoStop++;\n}\n\n// Salva os novos tempos na memória\nflow.set(\"tempoStart\", tempoStart);\nflow.set(\"tempoStop\", tempoStop);\n\n// Recalcula o total e a disponibilidade com o novo segundo somado\ntempoTotal = tempoStart + tempoStop;\ndisponibilidade = (tempoStart / tempoTotal) * 100;\n\nreturn [\n    { payload: format(tempoStart) },                 \n    { payload: format(tempoStop) },                  \n    { payload: format(tempoTotal) },                \n    { payload: Number(disponibilidade.toFixed(1)) }  //  Gauge\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1260,
        "wires": [
            [
                "a8b8968881379bc8"
            ],
            [
                "f9543ce34b64b15b"
            ],
            [
                "a705165394024a7b"
            ],
            [
                "0df470e71e4b6b83"
            ]
        ]
    },
    {
        "id": "a8b8968881379bc8",
        "type": "ui_text",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "group": "3e7269327dfb4ef3",
        "order": 15,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "tempo rodando",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f9543ce34b64b15b",
        "type": "ui_text",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "group": "3e7269327dfb4ef3",
        "order": 16,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "tempo parado",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 1240,
        "wires": []
    },
    {
        "id": "a705165394024a7b",
        "type": "ui_text",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "group": "3e7269327dfb4ef3",
        "order": 17,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "tempo total CLP",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 1280,
        "wires": []
    },
    {
        "id": "73050eb3011b00b9",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "m_emergencia",
        "links": [
            "5badbb451213e512"
        ],
        "x": 95,
        "y": 880,
        "wires": [
            [
                "13723cd519570db9",
                "8f187b0775b39acf"
            ]
        ]
    },
    {
        "id": "0df470e71e4b6b83",
        "type": "ui_gauge",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "",
        "group": "3e7269327dfb4ef3",
        "order": 14,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Disponibilidade",
        "label": "\"%\"",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b50000",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "40",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 1320,
        "wires": []
    },
    {
        "id": "f73868a82c135f77",
        "type": "function",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "Media qtd",
        "func": "let stats = context.get('contagens') || { vermelhas: 0, pretas: 0, metal: 0 };\n\nif (msg.topic) {\n    let valor = Number(msg.payload) || 0;\n\n    if (msg.topic.includes(\"byte25\")) {\n        stats.vermelhas = valor;\n    } \n    else if (msg.topic.includes(\"byte20\")) {\n        stats.pretas = valor;\n    } \n    else if (msg.topic.includes(\"byte15\")) {\n        stats.metal = valor;\n    } \n    else {\n  \n        return null;\n    }\n}\n\ncontext.set('contagens', stats);\n\n\nlet msgVermelha = { topic: \"Vermelhas\", payload: stats.vermelhas };\nlet msgPreta    = { topic: \"Pretas\",    payload: stats.pretas };\nlet msgMetal    = { topic: \"Metálica\",  payload: stats.metal };\nreturn [[msgVermelha, msgPreta, msgMetal]];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1520,
        "wires": [
            [
                "09af7fe8f3141946"
            ]
        ]
    },
    {
        "id": "cb98c59e426d7228",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B10_8",
        "mode": "link",
        "links": [
            "9c662b88c3c3a74d"
        ],
        "x": 645,
        "y": 260,
        "wires": []
    },
    {
        "id": "ec9d87bc071a2ce2",
        "type": "function",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "Tempos medios",
        "func": "let stats = context.get('stats') || {\n    total: { soma: 0, conta: 0 },\n    vermelha: { soma: 0, conta: 0 },\n    preta: { soma: 0, conta: 0 },\n    metalica: { soma: 0, conta: 0 }\n};\n\nif (msg.payload && msg.topic === \"nova_peca\") {\n    let duracao = Number(msg.payload);\n    let cor = msg.cor;\n\n    stats.total.soma += duracao;\n    stats.total.conta++;\n\n    if (stats[cor]) {\n        stats[cor].soma += duracao;\n        stats[cor].conta++;\n    }\n    context.set('stats', stats);\n}\nfunction calcMedia(tipo) {\n    return stats[tipo].conta > 0 ? (stats[tipo].soma / stats[tipo].conta) : 0;\n}\n\n// --- PREPARAÇÃO DA VARIÁVEL ---\nlet mediaTotalNum = calcMedia('total');\n\n// --- MENSAGEM 1: GRÁFICO DE BARRAS ---\nlet msgGrafico = {\n    payload: [{\n        \"series\": [\"Tempo Médio (s)\"],\n        \"data\": [[\n            Number(mediaTotalNum.toFixed(2)),\n            Number(calcMedia('vermelha').toFixed(2)),\n            Number(calcMedia('preta').toFixed(2)),\n            Number(calcMedia('metalica').toFixed(2))\n        ]],\n        \"labels\": [\"Total\", \"Vermelha\", \"Preta\", \"Metálica\"]\n    }]\n};\n\n// --- MENSAGEM 2: GAUGE---\nlet msgGauge = {\n    payload: Number(mediaTotalNum.toFixed(2))\n};\nreturn [msgGrafico, msgGauge];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1420,
        "wires": [
            [
                "fe5627ab99fc3e1f"
            ],
            [
                "70eb41b682ff1d95"
            ]
        ]
    },
    {
        "id": "9c662b88c3c3a74d",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "link in 15",
        "links": [
            "cb98c59e426d7228"
        ],
        "x": 95,
        "y": 1420,
        "wires": [
            [
                "ec9d87bc071a2ce2"
            ]
        ]
    },
    {
        "id": "fe5627ab99fc3e1f",
        "type": "ui_chart",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "",
        "group": "3e7269327dfb4ef3",
        "order": 13,
        "width": 9,
        "height": 6,
        "label": "Tempo médio por categoria",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#022640",
            "#eb0000",
            "#1a1a1a",
            "#c2c2c2",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "63a224c878228109",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "B11_0",
        "mode": "link",
        "links": [],
        "x": 645,
        "y": 300,
        "wires": []
    },
    {
        "id": "8371de2fbb64b53c",
        "type": "comment",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "Este grupo exibe no dashboard os valores oriundos do CLP.",
        "info": "**Este grupo recebe os dados via MQTT e faz a separação dos dados recebidos. Os dados vem em topicos diferentes. **",
        "x": 340,
        "y": 540,
        "wires": []
    },
    {
        "id": "b670097709ef0458",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "682dfa7f053383dc",
        "name": "Clock 1Hz",
        "mode": "link",
        "links": [
            "d5b8d1be395eb22f"
        ],
        "x": 965,
        "y": 360,
        "wires": []
    },
    {
        "id": "d5b8d1be395eb22f",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "Tempo analise",
        "links": [
            "b670097709ef0458"
        ],
        "x": 95,
        "y": 1260,
        "wires": [
            [
                "d556573c3522b880"
            ]
        ]
    },
    {
        "id": "30e00246ad3a4d05",
        "type": "comment",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "Este grupo exibe no dashboard os valores das análises feitas.",
        "info": "**Este grupo recebe os dados via MQTT e faz a separação dos dados recebidos. Os dados vem em topicos diferentes. **",
        "x": 360,
        "y": 1140,
        "wires": []
    },
    {
        "id": "e28adea4ace4bb96",
        "type": "ui_button",
        "z": "f5466f1744923067",
        "g": "48c8b98d2c24bf2e",
        "name": "",
        "group": "335c360e0d93b3a6",
        "order": 2,
        "width": 10,
        "height": 2,
        "passthru": false,
        "label": "Start",
        "tooltip": "START deixa o CLP pronto para atuar quando uma peça chegar.",
        "color": "green",
        "bgcolor": "",
        "className": "",
        "icon": "play_circle_outline",
        "payload": "true",
        "payloadType": "bool",
        "topic": "start_nr",
        "topicType": "str",
        "x": 790,
        "y": 140,
        "wires": [
            [
                "d32b0496c8090516"
            ]
        ]
    },
    {
        "id": "07bca856e7df375a",
        "type": "ui_button",
        "z": "f5466f1744923067",
        "g": "48c8b98d2c24bf2e",
        "name": "",
        "group": "335c360e0d93b3a6",
        "order": 3,
        "width": 10,
        "height": 2,
        "passthru": false,
        "label": "Stop",
        "tooltip": "STOP para a operação imediamente, sem limpar as memórias.",
        "color": "red",
        "bgcolor": "",
        "className": "",
        "icon": "pause_circle_outline",
        "payload": "true",
        "payloadType": "bool",
        "topic": "stop_nr",
        "topicType": "str",
        "x": 790,
        "y": 180,
        "wires": [
            [
                "d32b0496c8090516"
            ]
        ]
    },
    {
        "id": "447e83dc414e61ad",
        "type": "ui_button",
        "z": "f5466f1744923067",
        "g": "48c8b98d2c24bf2e",
        "name": "",
        "group": "335c360e0d93b3a6",
        "order": 4,
        "width": 10,
        "height": 2,
        "passthru": false,
        "label": "Reset",
        "tooltip": "RESET limpa as memórias. ",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "sync",
        "payload": "true",
        "payloadType": "bool",
        "topic": "reset_nr",
        "topicType": "str",
        "x": 790,
        "y": 220,
        "wires": [
            [
                "d32b0496c8090516"
            ]
        ]
    },
    {
        "id": "d32b0496c8090516",
        "type": "function",
        "z": "f5466f1744923067",
        "g": "48c8b98d2c24bf2e",
        "name": "Compilador de saidas",
        "func": "// Cria uma nova mensagem estruturada para o MQTT\nlet msgMqtt = {\n    payload: msg.payload \n};\n\n\nswitch (msg.topic) {\n    case \"start_nr\":\n        \n        msgMqtt.topic = \"sorting_fms/start\";\n        break;\n\n    case \"stop_nr\": \n       \n        msgMqtt.topic = \"sorting_fms/stop\";\n        break;\n\n    case \"reset_nr\":\n        \n        msgMqtt.topic = \"sorting_fms/reset\";\n        break;\n\n    case \"sorting_fms/alerta\":\n        \n        msgMqtt.topic = \"sorting_fms/stop\";\n        break;\n\n    default:\n       \n        return null;\n}\n\n\nreturn msgMqtt;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 180,
        "wires": [
            [
                "e8e174f735c8430b"
            ]
        ]
    },
    {
        "id": "e8e174f735c8430b",
        "type": "mqtt out",
        "z": "f5466f1744923067",
        "g": "48c8b98d2c24bf2e",
        "name": "SAÍDA",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "18119c41d8afc4b4",
        "x": 1190,
        "y": 180,
        "wires": []
    },
    {
        "id": "70eb41b682ff1d95",
        "type": "ui_gauge",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "",
        "group": "3e7269327dfb4ef3",
        "order": 12,
        "width": 9,
        "height": 6,
        "gtype": "gage",
        "title": "Tempo médio total das peças",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "14",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 1440,
        "wires": []
    },
    {
        "id": "74e5af9133449209",
        "type": "mqtt in",
        "z": "f5466f1744923067",
        "g": "d41ea29c95fb2be7",
        "name": "ESP ",
        "topic": "sorting_fms/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "18119c41d8afc4b4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "2b09e94fcfbea043"
            ]
        ]
    },
    {
        "id": "09af7fe8f3141946",
        "type": "ui_chart",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "",
        "group": "3e7269327dfb4ef3",
        "order": 11,
        "width": 9,
        "height": 6,
        "label": "Quantidade por cor de peça",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#eb0000",
            "#161718",
            "#c2c2c2",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "308ab963713c66f8",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "qtd_metalicas",
        "links": [
            "da6f75822b1de84f"
        ],
        "x": 95,
        "y": 1500,
        "wires": [
            [
                "f73868a82c135f77"
            ]
        ]
    },
    {
        "id": "1605abb2a4c23223",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "qtd_pretas",
        "links": [
            "f47274d3234ee9ef"
        ],
        "x": 95,
        "y": 1520,
        "wires": [
            [
                "f73868a82c135f77"
            ]
        ]
    },
    {
        "id": "d0f8ee594c45aade",
        "type": "link in",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "qtd_vermelhas",
        "links": [
            "e1109b533fe07f14"
        ],
        "x": 95,
        "y": 1540,
        "wires": [
            [
                "f73868a82c135f77"
            ]
        ]
    },
    {
        "id": "a03dc16e26527413",
        "type": "comment",
        "z": "f5466f1744923067",
        "g": "48c8b98d2c24bf2e",
        "name": "Este grupo envia a mensagem de saída via mqtt para o CLP.",
        "info": "**Este grupo recebe os dados via MQTT e faz a separação dos dados recebidos. Os dados vem em topicos diferentes. **",
        "x": 1000,
        "y": 60,
        "wires": []
    },
    {
        "id": "be0b82f9da68f638",
        "type": "ui_text",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "group": "3e7269327dfb4ef3",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "--- DADOS DA LINHA ---",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 530,
        "y": 980,
        "wires": []
    },
    {
        "id": "d4bb33a9c3bf87ee",
        "type": "ui_text",
        "z": "f5466f1744923067",
        "g": "48c8b98d2c24bf2e",
        "group": "335c360e0d93b3a6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "--- COMANDOS PARA O CLP ---",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 1100,
        "y": 100,
        "wires": []
    },
    {
        "id": "ecbe4fce30d84b11",
        "type": "ui_text",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "group": "3e7269327dfb4ef3",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "--- DADOS GRÁFICOS ---",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 190,
        "y": 980,
        "wires": []
    },
    {
        "id": "0e6df12e43b49fe0",
        "type": "ui_text",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "group": "3e7269327dfb4ef3",
        "order": 2,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "                 --- DADOS DE PRODUÇÃO ---",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 350,
        "y": 1040,
        "wires": []
    },
    {
        "id": "00c309eb53f7bece",
        "type": "ui_template",
        "z": "f5466f1744923067",
        "g": "682dfa7f053383dc",
        "group": "1fa9f9731566e618",
        "name": "Texto para a página inicial",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align: center; font-family: 'Roboto', sans-serif; color: #333; padding: 10px;\">\n\n    <img src=\"https://upload.wikimedia.org/wikipedia/commons/0/0a/Logo_Unesp.svg\" alt=\"Unesp\" style=\"width: 80%; max-width: 300px; margin-bottom: 20px;\">\n\n    <h2 style=\"color: #004587; margin-bottom: 5px; font-weight: 700;\">\n         Trabalho de TAI — Parte 2\n    </h2>\n\n    <div style=\"width: 60px; height: 3px; background: #004587; margin: 10px auto 20px auto; border-radius: 2px;\"></div>\n\n    <div\n        style=\"background: #f9f9f9; border-radius: 8px; padding: 15px; border-left: 5px solid #004587; text-align: left; display: inline-block; min-width: 80%;\">\n\n        <p style=\"margin: 5px 0;\">\n            <span style=\"color: #004587; font-weight: bold;\"> Discentes:</span><br>\n            &nbsp;&nbsp;&nbsp;• Luiz Henrique Monteiro<br>\n            &nbsp;&nbsp;&nbsp;• Bruno Eneas\n        </p>\n\n        <p style=\"margin: 15px 0 5px 0;\">\n            <span style=\"color: #004587; font-weight: bold;\"> Docente:</span><br>\n            &nbsp;&nbsp;&nbsp;• Prof. Dr. Eduardo P. Godoy\n        </p>\n    </div>\n\n    <div style=\"margin-top: 25px; font-style: italic; color: #555; border-top: 1px solid #ddd; padding-top: 15px;\">\n        <span style=\"font-size: 1.1em;\">\n             <b>Integração:</b> Supervisório Elipse ↔ Node-RED via <b>MQTT</b>\n        </span>\n    </div>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 850,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e14c81e07f506188",
        "type": "ui_template",
        "z": "f5466f1744923067",
        "g": "682dfa7f053383dc",
        "group": "a1c0c5109cf6184c",
        "name": "Texto para a janela de SOBRE",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n    @keyframes jeb_colors {\n        0% {\n            color: #ff0000;\n        }\n\n        17% {\n            color: #ff8000;\n        }\n\n        33% {\n            color: #ffff00;\n        }\n\n        50% {\n            color: #00ff00;\n        }\n\n        67% {\n            color: #0000ff;\n        }\n\n        84% {\n            color: #4b0082;\n        }\n\n        100% {\n            color: #ee82ee;\n        }\n    }\n\n    .jeb-text {\n        font-family: 'Arial Black', sans-serif;\n        font-size: 1.8em;\n        font-weight: bold;\n        text-align: center;\n        letter-spacing: 2px;\n        animation: jeb_colors 4s linear infinite;\n        margin-bottom: 10px;\n    }\n</style>\n\n<div style=\"font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; \n            background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); \n            padding: 30px; \n            border-radius: 20px; \n            box-shadow: 0 15px 35px rgba(0,0,0,0.1); \n            color: #2c3e50; \n            max-width: 600px; \n            margin: 20px auto;\n            border: 1px solid rgba(255,255,255,0.4);\">\n\n    <div style=\"text-align: center; margin-bottom: 25px;\">\n        <img src=\"https://upload.wikimedia.org/wikipedia/commons/0/0a/Logo_Unesp.svg\"\n             alt=\"Unesp\" style=\"width: 220px; filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.1));\">\n\n        <h1\n            style=\"font-size: 24px; color: #004587; margin-top: 20px; text-transform: uppercase; letter-spacing: 2px; font-weight: 800; margin-bottom: 0;\">\n            Sistemas de Supervisão e Controle\n        </h1>\n        <div style=\"width: 50px; height: 4px; background: #ffcc00; margin: 10px auto 20px auto; border-radius: 10px;\">\n        </div>\n\n        <div class=\"jeb-text\">NODE-RED</div>\n    </div>\n\n    <div\n        style=\"background: rgba(255,255,255,0.6); padding: 15px; border-radius: 15px; text-align: center; margin-bottom: 25px; backdrop-filter: blur(5px);\">\n        <span style=\"font-size: 1.1em; font-weight: 600; color: #34495e; text-transform: uppercase;\">\n            TAI - Parte 2: Ecossistema de Integração\n        </span>\n    </div>\n\n    <div style=\"display: grid; grid-template-columns: 1fr; gap: 15px;\">\n\n        <div\n            style=\"background: white; padding: 15px; border-radius: 12px; border-left: 6px solid #004587; box-shadow: 4px 4px 10px rgba(0,0,0,0.05);\">\n            <div style=\"margin-bottom: 10px;\">\n                <b style=\"font-size: 1.1em; color: #004587; text-transform: uppercase;\">Escopo Técnico</b>\n            </div>\n            <p style=\"margin: 5px 0; line-height: 1.5; font-size: 0.95em;\">\n                Integração avançada via protocolo <b>MQTT</b> estabelecendo a ponte de dados entre:\n                <br><b>Elipse E3</b> — <b>Node-RED</b> — <b>CLP</b>\n            </p>\n        </div>\n\n        <div style=\"background: #e3f2fd; padding: 15px; border-radius: 12px; border: 1px solid #004587;\">\n            <div style=\"margin-bottom: 5px;\">\n                <b style=\"color: #0d47a1; text-transform: uppercase;\">Prototipagem</b>\n            </div>\n            <p style=\"margin: 0; font-size: 0.9em; color: #1565c0; text-align: justify;\">\n                Desenvolvimento de um simulador de estação sorting embarcado em <b>ESP32</b>.\n                Esta abordagem permitiu a validação remota das lógicas de controle e do dashboard,\n                garantindo a viabilidade técnica independente da infraestrutura física do CLP.\n            </p>\n        </div>\n\n        <div\n            style=\"background: rgba(255,255,255,0.8); padding: 15px; border-radius: 12px; display: flex; justify-content: space-between; align-items: center;\">\n            <div style=\"font-size: 0.85em;\">\n                <b style=\"color: #004587; display: block; margin-bottom: 4px; text-transform: uppercase;\">Discentes</b>\n                -Luiz Henrique Monteiro<br>\n                -Bruno Eneas\n            </div>\n            <div style=\"font-size: 0.85em; text-align: right;\">\n                <b style=\"color: #004587; display: block; margin-bottom: 4px; text-transform: uppercase;\">Docente</b>\n                -Prof. Dr. Eduardo P. Godoy\n            </div>\n        </div>\n    </div>\n\n    <div\n        style=\"margin-top: 25px; text-align: center; font-size: 0.8em; color: #7f8c8d; border-top: 1px solid rgba(0,0,0,0.1); padding-top: 15px;\">\n        Engenharia de Controle e Automação — Unesp Sorocaba\n    </div>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 870,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "28b528a46b5655ba",
        "type": "ui_button",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "",
        "group": "3e7269327dfb4ef3",
        "order": 18,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Reset time",
        "tooltip": "Resetar os tempos de START e STOP que o CLP se encontra.",
        "color": "red",
        "bgcolor": "#FDE992",
        "className": "",
        "icon": "timer",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 1640,
        "wires": [
            [
                "bfa1a8db6c79a47b"
            ]
        ]
    },
    {
        "id": "bfa1a8db6c79a47b",
        "type": "function",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "Rst time",
        "func": "// 1. Zera as variáveis na memória do fluxo\nflow.set(\"tempoStart\", 0);\nflow.set(\"tempoStop\", 0);\n\n\nfunction zerado() { return \"00:00:00\"; }\n\nreturn [\n    { payload: zerado() }, //  Tempo Starrt\n    { payload: zerado() }, //  Tempo Stop\n    { payload: zerado() }, // Temo Total\n    { payload: 0 }         //  Gauge de Disponibilidae\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1640,
        "wires": [
            [
                "7cabb25ee1a023a1"
            ],
            [
                "cc67559c564d738b"
            ],
            [
                "adef2e0f9a04b498"
            ],
            [
                "90ad5da24a49a8cc"
            ]
        ]
    },
    {
        "id": "90ad5da24a49a8cc",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "RESET_TIMER_4",
        "mode": "link",
        "links": [],
        "x": 435,
        "y": 1660,
        "wires": []
    },
    {
        "id": "adef2e0f9a04b498",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "RESET_TIMER_3",
        "mode": "link",
        "links": [],
        "x": 435,
        "y": 1640,
        "wires": []
    },
    {
        "id": "cc67559c564d738b",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "RESET_TIMER_2",
        "mode": "link",
        "links": [],
        "x": 435,
        "y": 1620,
        "wires": []
    },
    {
        "id": "7cabb25ee1a023a1",
        "type": "link out",
        "z": "f5466f1744923067",
        "g": "cab9df0607934169",
        "name": "RESET_TIMER_1",
        "mode": "link",
        "links": [],
        "x": 435,
        "y": 1600,
        "wires": []
    },
    {
        "id": "6f1a4a28f24f72c0",
        "type": "function",
        "z": "f5466f1744923067",
        "g": "682dfa7f053383dc",
        "name": "Verificador de conexão",
        "func": "\nlet statusTexto = \"\";\n\nif (msg.status && msg.status.text) {\n    statusTexto = msg.status.text;\n} else {\n\n    return null;\n}\n\nlet layout = {\n    text: \"BROKER DESCONECTADO\",\n    color: \"#d32f2f\" \n};\n\n\nif (statusTexto.indexOf(\"connected\") !== -1 || statusTexto.indexOf(\"conectado\") !== -1) {\n    layout.text = \"BROKER CONECTADO\";\n    layout.color = \"#2e7d32\";\n    flow.set(\"brokerLigado\", true);\n} else {\n    flow.set(\"brokerLigado\", false);\n}\nmsg.payload = layout;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 320,
        "wires": [
            [
                "09961f428d7df816",
                "4a93b07e5826cd42",
                "b7a3d3ebdfe7ea17"
            ]
        ]
    },
    {
        "id": "09961f428d7df816",
        "type": "ui_template",
        "z": "f5466f1744923067",
        "g": "682dfa7f053383dc",
        "group": "1fa9f9731566e618",
        "name": "Indicador de status broker",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"background-color: #FDE992; \n            padding: 10px; \n            border-radius: 10px; \n            text-align: center; \n            font-weight: bold; \n            border: 2px solid {{msg.payload.color}}; \n            color: {{msg.payload.color}};\">\n    {{msg.payload.text}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1130,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ab8aad5b364b6eb3",
        "type": "status",
        "z": "f5466f1744923067",
        "g": "682dfa7f053383dc",
        "name": "",
        "scope": [
            "74e5af9133449209"
        ],
        "x": 800,
        "y": 320,
        "wires": [
            [
                "6f1a4a28f24f72c0"
            ]
        ]
    },
    {
        "id": "4a93b07e5826cd42",
        "type": "ui_template",
        "z": "f5466f1744923067",
        "g": "682dfa7f053383dc",
        "group": "3e7269327dfb4ef3",
        "name": "Indicador de status broker",
        "order": 3,
        "width": 4,
        "height": 1,
        "format": "<div style=\"background-color: #FDE992; \n            padding: 10px; \n            border-radius: 10px; \n            text-align: center; \n            font-weight: bold; \n            border: 2px solid {{msg.payload.color}}; \n            color: {{msg.payload.color}};\">\n    {{msg.payload.text}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1130,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b7a3d3ebdfe7ea17",
        "type": "ui_template",
        "z": "f5466f1744923067",
        "g": "682dfa7f053383dc",
        "group": "335c360e0d93b3a6",
        "name": "Indicador de status broker",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"background-color: #FDE992; \n            padding: 10px; \n            border-radius: 10px; \n            text-align: center; \n            font-weight: bold; \n            border: 2px solid {{msg.payload.color}}; \n            color: {{msg.payload.color}};\">\n    {{msg.payload.text}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1130,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "16afa382b4e274f8",
        "type": "ui_toast",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Aviso de erro na linha",
        "x": 420,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "064f6deba55945c8",
        "type": "ui_toast",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Aviso de emergência na linha",
        "x": 440,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "a72fcce14fdebaac",
        "type": "function",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "Problema linha",
        "func": "\nlet telaAviso = `\n<style>\n    @keyframes pulse-red {\n        0%   { background-color: #FDE992; }\n        50%  { background-color: #ff4d4d; }\n        100% { background-color: #FDE992; }\n    }\n    .status-box {\n        padding: 20px;\n        border-radius: 12px;\n        text-align: center;\n        font-weight: bold;\n        font-size: 20px;\n        border: 4px solid #cc0000;\n        color: #cc0000;\n        animation: pulse-red 1.2s infinite ease-in-out;\n    }\n</style>\n<div class=\"status-box\">\n    ⚠️ AVISO: PROBLEMA NA LINHA!\n</div>\n`;\nlet ultimoEstado = context.get(\"ultimoEstado\");\nif (ultimoEstado === telaAviso) {\n    return null;\n}\ncontext.set(\"ultimoEstado\", telaAviso);\nmsg.payload = telaAviso;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 860,
        "wires": [
            [
                "16afa382b4e274f8"
            ]
        ]
    },
    {
        "id": "8f187b0775b39acf",
        "type": "function",
        "z": "f5466f1744923067",
        "g": "a3737532bf94bf2f",
        "name": "Emergência",
        "func": "let telaEmergencia = `\n<style>\n    @keyframes pulse-emergency {\n        0%   { background-color: #FDE992; }\n        50%  { background-color: #ff0000; color: white; }\n        100% { background-color: #FDE992; }\n    }\n    .emergency-box {\n        padding: 25px;\n        border-radius: 12px;\n        text-align: center;\n        font-weight: 900;\n        font-size: 22px;\n        border: 5px dashed #000;\n        color: #ff0000;\n        /* Animação retornou, levemente suavizada para 1.2s */\n        animation: pulse-emergency 1.2s infinite ease-in-out;\n    }\n</style>\n<div class=\"emergency-box\">\n     EMERGÊNCIA DE LINHA PRESSIONADA 🚨<br>\n    <small style=\"font-size: 14px; display: block; margin-top: 10px; color: #000;\">O RESET DEVE SER FEITO MANUALMENTE</small>\n</div>\n`;\nlet ultimoEstado = context.get(\"ultimoEstado\");\nif (ultimoEstado === telaEmergencia) {\n    return null;\n}\n\n\ncontext.set(\"ultimoEstado\", telaEmergencia);\nmsg.payload = telaEmergencia;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 900,
        "wires": [
            [
                "064f6deba55945c8"
            ]
        ]
    },
    {
        "id": "3a0b56850dfb7afc",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]