lastNodeRed.json
[{"id":"13faf5df5da252b8","type":"tab","label":"Principal","disabled":false,"info":"","env":[]},{"id":"61b3d7bff48ee661","type":"group","z":"13faf5df5da252b8","name":"ENTRADA","style":{"label":true,"stroke":"#6f2fa0","fill":"#dbcbe7"},"nodes":["ae28733fadd03c57","edf129cb1f170aa9","d5d29df41340185b","87b4ab36a5244c10","4e58729dfdec5a24","bc75cb96d25ed904","d7cb3425b36f386a","9ce7b7f119e2a585","c95f853818701a60","6be070daa11fa5c8","8defe11ca81d6932","aaa279b6540acb8a","cd7efd4284f680a7","144e1fe784e488ba","5fd83889a4f8c638","1b3896f8efade25a","0f2e5d5331f398d5","3032d2ab90a2adad","56c9a0593063a6c3","29d6c12c355d54f1","dadca63d0c5c22b5","0c6a3b1f109e8483","2b024f21211c6407","7675dad8358f02da","4e765351a7a5e146","25b73a5a9bfed6c9","53be4d78d43ddcfd","922791ce57965f2b","0e5fc09bc99ab569","8b4a4f682a44d8b4","08abde37d8c20de0","8c4f35057824aadb"],"x":54,"y":19,"w":632,"h":462},{"id":"934bd7d2559f3470","type":"group","z":"13faf5df5da252b8","name":"EXIBIDORES","style":{"label":true,"stroke":"#ffC000","fill":"#ffefbf"},"nodes":["2078cb17d51b716a","1b30ec3386b88978","d858622e1e77c7ae","8b7fb373bedc634b","b70a77d81d3ac06b","5a8e3d1c2fa383cd","1519e53d9bf5746c","a3eb0349a1c48eb5","beca3a7159568ad1","3d5691e6138dc1e3","e55f25090ca0d227","f7ee7a826bb8c526","2970161266f4702d","81068b6c4c72b669","65d6315f6993bbde","d9de0d92ee9314dd","f38c747227248ac4","7d144ed47c303dc9","cf03d38e80294b89","60db4a28fea3027e","9d88dfbf196606d0","f5ee11a32ba229e4","9abc803734e102dd","6cd4a50b593ce44c","faaebda5b4f0954d","400a0eef52e9f168","7f36ceaf1b359879","b8ceb053ad8736fd","5a16fe40c0a85118","4c5d9ac6244575d1"],"x":54,"y":499,"w":632,"h":582},{"id":"29f2ce4cc95cc0ed","type":"group","z":"13faf5df5da252b8","name":"ANÁLISES DOS DADOS","style":{"stroke":"#0070c0","fill":"#bfdbef","label":true},"nodes":["eac0009d5c1dafcd","11d949e66c4cfa50","83609c62e934ba79","71a129e14a4e6e5f","2e9d8d22168e1345","db90983cfe8115c0","9c9897c8635c2650","44482e432e11b462","aaf435ce74b17998","261bf03fd030c660","4d8e683f73003b42","0d0c738357f63c82","a9354a59829345f5","894d41e7dbd6c417","0051e23289959b30","c8f22d507e063b97","86fcacd58dee2a9e","d220897707252843","16ac8ba78f64b2ca","3df22ccb48d431f9","bcf947124575d31f","09b96814e9db068b"],"x":54,"y":1099,"w":632,"h":602},{"id":"85adf0dc4e7ca8a0","type":"group","z":"13faf5df5da252b8","name":"OPERADORES NODE-RED","style":{"stroke":"#777777","fill":"#d1d1d1","label":true,"color":"#000000"},"nodes":["0b759729e966b7f8","bf71e424f30dadeb","cd842178e51e8124","c68962adc70fd890","2fbe9c9b667d2447","3025434a91105409","fca081837e0dd42d","0c505b5cba6b4e5c","2ab408b0a724a789"],"x":714,"y":279,"w":552,"h":202},{"id":"d4193d3f3c3c5b2f","type":"group","z":"13faf5df5da252b8","name":"SAÍDAS","style":{"stroke":"#ffff00","fill":"#ffffbf","label":true},"nodes":["26b47cb5dc3b070e","1a0345e1dcbc1d6b","860de359c2fe7be1","e3189d51752387e1","9c01a18501873b1b","1c798ca9079541d8","17608e0e4f530771"],"x":714,"y":19,"w":552,"h":242},{"id":"1f68d429f5760fb4","type":"group","z":"13faf5df5da252b8","name":"LOGS","style":{"stroke":"#ff0000","fill":"#ffbfbf","label":true},"nodes":["f62912126026e08d","4e27855e8f348bd5","502be4a274dce701","7efe427ec1c1b443","d8026e6a5067ef3e","de23191b9086279e","7fe4ce74a3665332","419e80f6b964ba2c","873bd05c5f4ecd39","45baea5839ab79d7","abcfd11a5f9096de"],"x":714,"y":499,"w":552,"h":222},{"id":"6919abec24585d8d","type":"mqtt-broker","name":"broker_lab","broker":"200.145.26.2","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"7873040248807f63","type":"mqtt-broker","name":"","broker":"200.145.26.2","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"0486e8e079dcade1","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3e7269327dfb4ef3","type":"ui_group","name":"ELIPSE","tab":"73a24f9b8d528502","order":1,"disp":false,"width":"18","collapse":false,"className":""},{"id":"4ba52db698afbd5b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"brown","accents":"blue","warn":"red","background":"amber","palette":"light"}},"site":{"name":"Dashboard Sorting FMS","hideToolbar":"false","allowSwipe":"mouse","lockMenu":"true","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7992719c7f882c92","type":"mqtt-broker","name":"","broker":"200.145.26.2","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"13dd42f5a7996701","type":"mqtt-broker","name":"Mosquitto_home","broker":"192.168.15.34","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e13d4528e4623b35","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"brown","accents":"blue","warn":"red","background":"amber","palette":"light"}},"site":{"name":"Dashboard Sorting FMS","hideToolbar":"false","allowSwipe":"mouse","lockMenu":"true","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"16db0de97767b1c2","type":"mqtt-broker","name":"","broker":"200.145.26.2","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f5b4cc54055d1696","type":"mqtt-broker","name":"Mosquitto_home","broker":"192.168.15.34","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"2e1d862f45aa05c9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"brown","accents":"blue","warn":"red","background":"amber","palette":"light"}},"site":{"name":"Dashboard Sorting FMS","hideToolbar":"false","allowSwipe":"mouse","lockMenu":"true","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e8d198be4439d4c5","type":"mqtt-broker","name":"","broker":"200.145.26.2","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"bd0610b68860e0e9","type":"mqtt-broker","name":"Mosquitto_home","broker":"192.168.15.34","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"8f562d412258a58a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"brown","accents":"blue","warn":"red","background":"amber","palette":"light"}},"site":{"name":"Dashboard Sorting FMS","hideToolbar":"false","allowSwipe":"mouse","lockMenu":"true","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6fd8f1210769d4c5","type":"ui_tab","name":"Config. CLP","icon":"settings_applications","order":3,"disabled":false,"hidden":false},{"id":"73a24f9b8d528502","type":"ui_tab","name":"Dados CLP","icon":"remove_red_eye","order":2,"disabled":false,"hidden":false},{"id":"4fcfd0768d9b6d59","type":"mqtt-broker","name":"","broker":"200.145.26.2","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"963b09a96556fa7d","type":"ui_tab","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"0257dabe7af98b15","type":"ui_group","name":"Dashboard","tab":"963b09a96556fa7d","order":1,"disp":false,"width":"10","collapse":false,"className":""},{"id":"7ef9ef8e65ccc6e3","type":"mqtt-broker","name":"Mosquitto_home","broker":"192.168.15.34","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"57277dd9a4fdc113","type":"ui_group","name":"COMANDOS PARA O CLP","tab":"6fd8f1210769d4c5","order":1,"disp":false,"width":"10","collapse":false,"className":""},{"id":"eadfe69f80a419d1","type":"ui_tab","name":"Sobre","icon":"tag_faces","order":5,"disabled":false,"hidden":false},{"id":"faac9b184252b27f","type":"ui_group","name":"Info.","tab":"eadfe69f80a419d1","order":1,"disp":false,"width":"10","collapse":false,"className":""},{"id":"f26c7ccd4c661767","type":"ui_spacer","z":"13faf5df5da252b8","name":"spacer","group":"3e7269327dfb4ef3","order":1,"width":4,"height":1},{"id":"3ac1f9a6ca6d499a","type":"ui_tab","name":"Log Screen","icon":"assignment","order":4,"disabled":false,"hidden":false},{"id":"d5beb78e9c15d895","type":"ui_group","name":"Output LOG","tab":"3ac1f9a6ca6d499a","order":1,"disp":false,"width":"18","collapse":false,"className":""},{"id":"ae28733fadd03c57","type":"mqtt in","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"Broker_lab","topic":"sorting_fms/#","qos":"1","datatype":"auto-detect","broker":"6919abec24585d8d","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":200,"wires":[["edf129cb1f170aa9"]]},{"id":"edf129cb1f170aa9","type":"function","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"Topic.separator","func":"let outs = [null, null, null, null, null, null, null];\n\n// SEPARAÇÃO POR TÓPICO\nif (msg.topic.includes(\"byte10\")) { outs[0] = msg; } //Memórias gerais\nif (msg.topic.includes(\"byte11\")) { outs[1] = msg; } //Memorias gerais\nif (msg.topic.includes(\"byte15\")) { outs[2] = msg; } //Quantidade de peças metálicas\nif (msg.topic.includes(\"byte20\")) { outs[3] = msg; } //Quantidade de peças pretas\nif (msg.topic.includes(\"byte25\")) { outs[4] = msg; } //Quantidade de peças vermelhas\nif (msg.topic.includes(\"byte50\")) { outs[5] = msg; } //Tempo da peça na linha\nif (msg.topic.includes(\"byte40\")) { outs[6] = msg; } //Tempo de start\n\nreturn outs;\n\n","outputs":7,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":260,"wires":[["4e58729dfdec5a24"],["bc75cb96d25ed904"],["d7cb3425b36f386a"],["9ce7b7f119e2a585"],["c95f853818701a60"],["6be070daa11fa5c8"],["8defe11ca81d6932"]]},{"id":"d5d29df41340185b","type":"function","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"Byte 10","func":"let valorByte = Number(msg.payload);\n\n// Extração dos bits\nlet bit0 = (valorByte & 1) !== 0;\nlet bit1 = (valorByte & 2) !== 0;\nlet bit2 = (valorByte & 4) !== 0; // RESET\nlet bit3 = (valorByte & 8) !== 0;\nlet bit4 = (valorByte & 16) !== 0; // Ocupada (Linha com peça)\nlet bit5 = (valorByte & 32) !== 0; // Metálica\nlet bit6 = (valorByte & 64) !== 0; // Vermelha\nlet bit7 = (valorByte & 128) !== 0; // Preta\n\n// Busca a memória de cor e tempos\nlet memoria = context.get('memoriaCor') || 'vazio';\nlet anteriorOcupada = context.get('ocupadaAnterior') || false;\nlet horaEntrada = context.get('horaEntrada') || 0;\nlet msgAnalise = null;\n\n// ==========================================\n// LÓGICA DE TEMPO POR PEÇA (NOVO!)\n// ==========================================\n// Detecta quando a peça ACABA DE CHEGAR (bit 4 subiu)\nif (bit4 === true && anteriorOcupada === false) {\n    context.set('horaEntrada', Date.now());\n}\n\n// Detecta quando a peça ACABA DE SAIR (bit 4 desceu)\nif (bit4 === false && anteriorOcupada === true) {\n    let agora = Date.now();\n    let duracao = (agora - horaEntrada) / 1000; // converte ms para segundos\n\n    // Prepara o pacote para o nó de médias\n    msgAnalise = {\n        payload: duracao,\n        cor: memoria,\n        topic: \"nova_peca\"\n    };\n}\n// Salva o estado atual para comparar no próximo ciclo\ncontext.set('ocupadaAnterior', bit4);\n\n// ==========================================\n// ESTADO DO CRONÔMETRO E RESET\n// ==========================================\nflow.set(\"resetAtivo\", bit2);\n\nif (bit0 === true) {\n    flow.set(\"estadoDaMaquina\", \"START\");\n} else if (bit1 === true) {\n    flow.set(\"estadoDaMaquina\", \"STOP\");\n}\n\nif (bit2 === true) {\n    flow.set(\"tempoStart\", 0);\n    flow.set(\"tempoStop\", 0);\n    flow.set(\"estadoDaMaquina\", \"STOP\");\n}\n\n// ==========================================\n// LÓGICA DE MEMÓRIA DE COR\n// ==========================================\nif (bit4 === false) {\n    memoria = 'vazio';\n    context.set('memoriaCor', memoria);\n} else {\n    if (memoria === 'vazio') memoria = 'preta';\n    if (memoria !== 'metalica') {\n        if (bit5 === true) memoria = 'metalica';\n        else if (bit6 === true) memoria = 'vermelha';\n        else if (bit7 === true) memoria = 'preta';\n    }\n    context.set('memoriaCor', memoria);\n}\n\n// Sinais de botões (preparando saídas 1 a 8)\nlet m_start = bit0 ? { payload: true, topic: \"start\" } : null;\nlet m_stop = bit1 ? { payload: true, topic: \"stop\" } : null;\nlet m_reset = bit2 ? { payload: true, topic: \"reset\" } : null;\nlet m_problema = bit3 ? { payload: true, topic: \"problema\" } : null;\nlet m_ocupada = { payload: bit4 };\nlet m_metalica = (memoria === 'metalica' && bit4) ? { payload: true, topic: \"metalica\" } : null;\nlet m_vermelha = (memoria === 'vermelha' && bit4) ? { payload: true, topic: \"vermelha\" } : null;\nlet m_preta = (memoria === 'preta' && bit4) ? { payload: true, topic: \"preta\" } : null;\n\n// Retorna 9 saídas. A nona (msgAnalise) só terá dados quando a peça sair!\nreturn [m_start, m_stop, m_reset, m_problema, m_ocupada, m_metalica, m_vermelha, m_preta, msgAnalise];","outputs":9,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":180,"wires":[["5fd83889a4f8c638"],["1b3896f8efade25a"],["0f2e5d5331f398d5"],["3032d2ab90a2adad"],["56c9a0593063a6c3"],["29d6c12c355d54f1"],["dadca63d0c5c22b5"],["0c6a3b1f109e8483"],["8b4a4f682a44d8b4"]]},{"id":"87b4ab36a5244c10","type":"function","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"Byte 11","func":"let valorByte = Number(msg.payload);\n\n//-----------------------------------//\n// EXTRAÇÃO DOS BITS\n//-----------------------------------//\nlet bit0 = (valorByte & 1) !== 0; \nlet bit1 = (valorByte & 2) !== 0; \nlet bit2 = (valorByte & 4) !== 0; \nlet bit3 = (valorByte & 8) !== 0; \nlet bit4 = (valorByte & 16) !== 0;\nlet bit5 = (valorByte & 32) !== 0; // EMERGÊNCIA\nlet bit6 = (valorByte & 64) !== 0;\nlet bit7 = (valorByte & 128) !== 0; // SENSOR METÁLICO\n\n//-----------------------------------//\n// BLOQUEIO DO CRONÔMETRO\n//-----------------------------------//\n// Aqui avisamos ao cronômetro: \"Para tudo!\"\nflow.set(\"emergenciaAtiva\", bit5);\n\n//-----------------------------------//\n// PREPARAÇÃO DAS SAÍDAS\n//-----------------------------------//\nlet m_bit0 = { payload: bit0 };\nlet m_bit1 = { payload: bit1 };\nlet m_bit2 = { payload: bit2 };\nlet m_bit3 = { payload: bit3 };\nlet m_bit4 = { payload: bit4 };\nlet m_emergencia = { payload: bit5, topic: \"emergencia\" };\nlet m_bit6 = { payload: bit6 };\n\n// Adicionado o tópico para o painel reconhecer a cor/material\nlet m_bit7 = { payload: bit7, topic: \"bit7\" }; \n\nreturn [m_bit0, m_bit1, m_bit2, m_bit3, m_bit4, m_emergencia, m_bit6, m_bit7];","outputs":8,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":380,"wires":[["08abde37d8c20de0"],["2b024f21211c6407"],["7675dad8358f02da"],["4e765351a7a5e146"],["25b73a5a9bfed6c9"],["53be4d78d43ddcfd"],["922791ce57965f2b"],["0e5fc09bc99ab569"]]},{"id":"4e58729dfdec5a24","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"OUT_Byte10","mode":"link","links":["aaa279b6540acb8a","502be4a274dce701","3579fe417f2d5297"],"x":425,"y":200,"wires":[]},{"id":"bc75cb96d25ed904","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"OUT_Byte11","mode":"link","links":["cd7efd4284f680a7","7efe427ec1c1b443","7a4eaeb8fbcfe846"],"x":425,"y":220,"wires":[]},{"id":"d7cb3425b36f386a","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"OUT_Byte15","mode":"link","links":["e55f25090ca0d227","0051e23289959b30","d8026e6a5067ef3e","c985592c71cf2431","faaebda5b4f0954d"],"x":425,"y":240,"wires":[]},{"id":"9ce7b7f119e2a585","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"OUT_Byte20 ","mode":"link","links":["f7ee7a826bb8c526","c8f22d507e063b97","de23191b9086279e","8e9ab07ce79e0944","400a0eef52e9f168"],"x":425,"y":260,"wires":[]},{"id":"c95f853818701a60","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"OUT_Byte25","mode":"link","links":["2970161266f4702d","894d41e7dbd6c417","7fe4ce74a3665332","d2162cf18da57416","7f36ceaf1b359879"],"x":425,"y":280,"wires":[]},{"id":"6be070daa11fa5c8","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"OUT_Byte50","mode":"link","links":["3d5691e6138dc1e3","419e80f6b964ba2c"],"x":425,"y":300,"wires":[]},{"id":"8defe11ca81d6932","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"OUT_Byte55","mode":"link","links":["81068b6c4c72b669","873bd05c5f4ecd39","3f5ee71bf10f2510"],"x":425,"y":320,"wires":[]},{"id":"aaa279b6540acb8a","type":"link in","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"IN_Byte10","links":["4e58729dfdec5a24"],"x":475,"y":180,"wires":[["d5d29df41340185b"]]},{"id":"cd7efd4284f680a7","type":"link in","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"IN_Byte11","links":["bc75cb96d25ed904"],"x":475,"y":380,"wires":[["87b4ab36a5244c10"]]},{"id":"144e1fe784e488ba","type":"comment","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"Este grupo recebe os dados via MQTT e faz a separação dos dados recebidos.","info":"**Este grupo recebe os dados via MQTT e faz a separação dos dados recebidos. Os dados vem em topicos diferentes. **","x":360,"y":60,"wires":[]},{"id":"5fd83889a4f8c638","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B10_0","mode":"link","links":["b70a77d81d3ac06b"],"x":645,"y":100,"wires":[]},{"id":"1b3896f8efade25a","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B10_1","mode":"link","links":["1519e53d9bf5746c"],"x":645,"y":120,"wires":[]},{"id":"0f2e5d5331f398d5","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B10_2","mode":"link","links":["a3eb0349a1c48eb5"],"x":645,"y":140,"wires":[]},{"id":"3032d2ab90a2adad","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B10_3","mode":"link","links":["beca3a7159568ad1"],"x":645,"y":160,"wires":[]},{"id":"56c9a0593063a6c3","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B10_4","mode":"link","links":["d858622e1e77c7ae"],"x":645,"y":180,"wires":[]},{"id":"29d6c12c355d54f1","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B10_5","mode":"link","links":["f58c9b6204ecaba0"],"x":645,"y":200,"wires":[]},{"id":"dadca63d0c5c22b5","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B10_6","mode":"link","links":["284198da99c20a87"],"x":645,"y":220,"wires":[]},{"id":"0c6a3b1f109e8483","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B10_7","mode":"link","links":["73e291ef6c2d7cd0"],"x":645,"y":240,"wires":[]},{"id":"2b024f21211c6407","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B11_1","mode":"link","links":[],"x":645,"y":320,"wires":[]},{"id":"7675dad8358f02da","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B11_2","mode":"link","links":[],"x":645,"y":340,"wires":[]},{"id":"4e765351a7a5e146","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B11_3","mode":"link","links":[],"x":645,"y":360,"wires":[]},{"id":"25b73a5a9bfed6c9","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B11_4","mode":"link","links":[],"x":645,"y":380,"wires":[]},{"id":"53be4d78d43ddcfd","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B11_5","mode":"link","links":["65d6315f6993bbde"],"x":645,"y":400,"wires":[]},{"id":"922791ce57965f2b","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B11_6","mode":"link","links":[],"x":645,"y":420,"wires":[]},{"id":"0e5fc09bc99ab569","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B11_7","mode":"link","links":["948fae10bf71b626"],"x":645,"y":440,"wires":[]},{"id":"2078cb17d51b716a","type":"ui_template","z":"13faf5df5da252b8","g":"934bd7d2559f3470","group":"3e7269327dfb4ef3","name":"Linha ocupada","order":6,"width":9,"height":3,"format":"<div style=\"display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; padding: 5px; box-sizing: border-box; overflow: hidden;\">\n    \n    <div style=\"display: flex; align-items: center; padding: 15px; border-radius: 10px; color: white; transition: all 0.4s; width: 95%; box-sizing: border-box;\"\n         ng-style=\"{'background-color': msg.payload ? '#c0392b' : '#27ae60'}\">\n        \n        <div style=\"flex-grow: 1;\">\n            <div style=\"font-size: 0.75em; text-transform: uppercase; opacity: 0.8; letter-spacing: 1px;\">Disponibilidade</div>\n            <div style=\"font-size: 1.5em; font-weight: bold; margin-top: 2px;\">\n                {{msg.payload ? 'LINHA OCUPADA' : 'LINHA LIVRE'}}\n            </div>\n        </div>\n        \n        <i class=\"fa fa-2x\" ng-class=\"msg.payload ? 'fa-ban' : 'fa-check-circle'\"></i>\n    </div>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":200,"y":620,"wires":[[]]},{"id":"1b30ec3386b88978","type":"ui_template","z":"13faf5df5da252b8","g":"934bd7d2559f3470","group":"3e7269327dfb4ef3","name":"Tempo peça na linha","order":9,"width":9,"height":3,"format":"<div\n    style=\"display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; padding: 5px; box-sizing: border-box; overflow: hidden;\">\n\n    <div\n        style=\"display: flex; align-items: center; padding: 15px; border-radius: 10px; color: white; background-color: #34495e; transition: all 0.4s; width: 95%; box-sizing: border-box; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">\n\n        <div style=\"flex-grow: 1;\">\n            <div style=\"font-size: 0.75em; text-transform: uppercase; opacity: 0.8; letter-spacing: 1px;\">Tempo de Linha\n            </div>\n            <div style=\"display: flex; align-items: baseline; margin-top: 2px;\">\n                <span style=\"font-size: 1.8em; font-weight: bold;\">{{msg.payload}}</span>\n                <span style=\"font-size: 0.9em; margin-left: 5px; opacity: 0.7;\">segundos</span>\n            </div>\n        </div>\n\n        <div style=\"background: rgba(255,255,255,0.1); padding: 10px; border-radius: 50%;\">\n            <i class=\"fa fa-clock-o fa-2x\"></i>\n        </div>\n    </div>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":220,"y":720,"wires":[[]]},{"id":"d858622e1e77c7ae","type":"link in","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"Linha ocupada","links":["56c9a0593063a6c3"],"x":95,"y":620,"wires":[["2078cb17d51b716a"]]},{"id":"8b7fb373bedc634b","type":"ui_template","z":"13faf5df5da252b8","g":"934bd7d2559f3470","group":"3e7269327dfb4ef3","name":"Status da linha","order":7,"width":9,"height":3,"format":"<style>\n    @keyframes piscar-emergencia {\n        0%   { background-color: #c0392b; }\n        50%  { background-color: #ff4d4d; }\n        100% { background-color: #c0392b; }\n    }\n\n    .status-card {\n        display: flex;\n        align-items: center;\n        padding: 15px;\n        border-radius: 10px;\n        color: white;\n        transition: all 0.3s;\n        width: 95%;\n        box-sizing: border-box;\n    }\n\n    .animar-emergencia {\n        animation: piscar-emergencia 0.8s infinite;\n        box-shadow: 0 0 15px #ff4d4d;\n    }\n</style>\n\n<div style=\"display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; padding: 5px; box-sizing: border-box; overflow: hidden;\">\n\n    <div class=\"status-card\" \n         ng-class=\"{'animar-emergencia': msg.statusInfo.emergencia}\" \n         ng-style=\"{'background-color': msg.statusInfo.cor || '#2c3e50'}\">\n\n        <div style=\"flex-grow: 1;\">\n            <div style=\"font-size: 0.75em; text-transform: uppercase; opacity: 0.8; letter-spacing: 1px;\">\n                Status do Sistema\n            </div>\n            <div style=\"font-size: 1.5em; font-weight: bold; margin-top: 2px;\">\n                {{msg.statusInfo.texto || 'AGUARDANDO...'}}\n            </div>\n        </div>\n\n        <i class=\"fa fa-2x\" ng-class=\"'fa-' + (msg.statusInfo.icone || 'power-off')\"></i>\n    </div>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":440,"y":820,"wires":[[]]},{"id":"b70a77d81d3ac06b","type":"link in","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"M_start","links":["5fd83889a4f8c638"],"x":95,"y":800,"wires":[["6cd4a50b593ce44c"]]},{"id":"5a8e3d1c2fa383cd","type":"ui_template","z":"13faf5df5da252b8","g":"934bd7d2559f3470","group":"3e7269327dfb4ef3","name":"Contagem peças","order":4,"width":0,"height":0,"format":"<style>\n    /* Estilo do fundo amarelo claro */\n    .dashboard-container {\n        background-color: #fdf5cc; \n        padding: 15px;\n        border-radius: 8px;\n        font-family: 'Roboto', Arial, sans-serif;\n        box-sizing: border-box;\n        width: 100%;\n        height: 100%;\n    }\n    \n    /* Estilo base das caixas */\n    .box {\n        border-radius: 8px;\n        text-align: center;\n        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);\n        color: white;\n    }\n    \n    .box-title {\n        font-size: 14px;\n        font-weight: 600;\n        padding-top: 10px;\n        letter-spacing: 0.5px;\n        text-transform: uppercase;\n        color: #f0f0f0;\n    }\n    \n    .box-value {\n        font-size: 38px;\n        font-weight: 700;\n        margin: 5px 0 10px 0;\n        text-shadow: 0px 2px 4px rgba(0,0,0,0.3);\n    }\n    \n    /* Caixa de Produção Total (Azul Escuro) */\n    .total-box {\n        background-color: #314455;\n        margin-bottom: 12px;\n    }\n    \n    .total-box .box-value {\n        font-size: 52px;\n        color: #ffffff;\n    }\n    \n    /* Linha inferior de peças */\n    .row-bottom {\n        display: flex;\n        gap: 10px;\n        justify-content: space-between;\n    }\n    \n    .sub-box {\n        flex: 1;\n    }\n    \n    /* Cores das categorias */\n    .bg-red { background-color: #d9423e; }\n    .bg-black { background-color: #1c1c1c; }\n    .bg-metal { background-color: #92a2a4; }\n</style>\n\n<div class=\"dashboard-container\">\n    <div class=\"box total-box\">\n        <div class=\"box-title\">Produção Total</div>\n        <div class=\"box-value\">{{ total }}</div>\n    </div>\n\n    <div class=\"row-bottom\">\n        <div class=\"box sub-box bg-red\">\n            <div class=\"box-title\">Vermelhas</div>\n            <div class=\"box-value\">{{ vermelhas }}</div>\n        </div>\n        <div class=\"box sub-box bg-black\">\n            <div class=\"box-title\">Pretas</div>\n            <div class=\"box-value\">{{ pretas }}</div>\n        </div>\n        <div class=\"box sub-box bg-metal\">\n            <div class=\"box-title\">Metal</div>\n            <div class=\"box-value\">{{ metal }}</div>\n        </div>\n    </div>\n</div>\n\n<script>\n(function(scope) {\n    // Valores iniciais antes da primeira mensagem chegar\n    scope.vermelhas = 0;\n    scope.pretas = 0;\n    scope.metal = 0;\n    scope.total = 0;\n\n    // Escuta a mensagem enviada pelo nosso novo Nó Function\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.payload) {\n            // Como o payload agora é um objeto completo, atualizamos tudo de uma vez\n            scope.vermelhas = msg.payload.vermelhas || 0;\n            scope.pretas = msg.payload.pretas || 0;\n            scope.metal = msg.payload.metal || 0;\n            scope.total = msg.payload.total || 0;\n        }\n    });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":570,"y":760,"wires":[[]]},{"id":"1519e53d9bf5746c","type":"link in","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"M_stop","links":["1b3896f8efade25a"],"x":95,"y":820,"wires":[["6cd4a50b593ce44c"]]},{"id":"a3eb0349a1c48eb5","type":"link in","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"M_reset","links":["0f2e5d5331f398d5"],"x":95,"y":840,"wires":[["6cd4a50b593ce44c"]]},{"id":"beca3a7159568ad1","type":"link in","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"M_problema ","links":["3032d2ab90a2adad"],"x":95,"y":860,"wires":[["f5ee11a32ba229e4","6cd4a50b593ce44c"]]},{"id":"3d5691e6138dc1e3","type":"link in","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"Tempo peça na linha","links":["6be070daa11fa5c8"],"x":95,"y":720,"wires":[["1b30ec3386b88978"]]},{"id":"e55f25090ca0d227","type":"link in","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"qtd_metalicas","links":["d7cb3425b36f386a"],"x":435,"y":680,"wires":[["4c5d9ac6244575d1"]]},{"id":"f7ee7a826bb8c526","type":"link in","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"qtd_pretas","links":["9ce7b7f119e2a585"],"x":435,"y":700,"wires":[["4c5d9ac6244575d1"]]},{"id":"2970161266f4702d","type":"link in","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"qtd_vermelhas","links":["c95f853818701a60"],"x":435,"y":720,"wires":[["4c5d9ac6244575d1"]]},{"id":"81068b6c4c72b669","type":"link in","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"link in 13","links":["8defe11ca81d6932"],"x":435,"y":740,"wires":[["4c5d9ac6244575d1"]]},{"id":"0b759729e966b7f8","type":"inject","z":"13faf5df5da252b8","g":"85adf0dc4e7ca8a0","name":"Clock 1s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":820,"y":360,"wires":[["bf71e424f30dadeb"]]},{"id":"eac0009d5c1dafcd","type":"function","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"Tempos analise","func":"// 0. Verifica se o Broker está conectado antes de processar qualquer coisa\nlet brokerLigado = flow.get(\"brokerLigado\");\n\nif (brokerLigado === false) {\n    // Se a conexão caiu, ele para a execução aqui e não soma nada nos tempos\n    return null; \n}\n\n// 1. Puxa os estados de bloqueio\nlet emergencia = flow.get(\"emergenciaAtiva\") || false;\nlet resetAtivo = flow.get(\"resetAtivo\") || false;\n\n// 2. Pega os tempos atuais\nlet tempoStart = flow.get(\"tempoStart\") || 0;\nlet tempoStop = flow.get(\"tempoStop\") || 0;\nlet tempoTotal = tempoStart + tempoStop;\n\n// 3. CÁLCULO PARA O GAUGE (Análise de Disponibilidade)\n// Calculamos a porcentagem: (Tempo Start / Tempo Total) * 100\nlet disponibilidade = 0;\nif (tempoTotal > 0) {\n    disponibilidade = (tempoStart / tempoTotal) * 100;\n}\n\n// 4. Função para formatar HH:MM:SS\nfunction format(s) {\n    let h = Math.floor(s / 3600).toString().padStart(2, '0');\n    let m = Math.floor((s % 3600) / 60).toString().padStart(2, '0');\n    let s_ = (s % 60).toString().padStart(2, '0');\n    return `${h}:${m}:${s_}`;\n}\n\n// =============================================================\n// LÓGICA DE CONGELAMENTO (Emergência ou Reset)\n// =============================================================\nif (emergencia === true || resetAtivo === true) {\n    return [\n        { payload: format(tempoStart) },\n        { payload: format(tempoStop) },\n        { payload: format(tempoTotal) },\n        { payload: Number(disponibilidade.toFixed(1)) } // Gauge parado\n    ];\n}\n\n// 5. Se estiver tudo OK, conta o tempo normalmente\nlet estado = flow.get(\"estadoDaMaquina\") || \"STOP\";\n\nif (estado === \"START\") {\n    tempoStart++;\n} else {\n    tempoStop++;\n}\n\n// Salva os novos tempos na memória\nflow.set(\"tempoStart\", tempoStart);\nflow.set(\"tempoStop\", tempoStop);\n\n// Recalcula o total e a disponibilidade com o novo segundo somado\ntempoTotal = tempoStart + tempoStop;\ndisponibilidade = (tempoStart / tempoTotal) * 100;\n\n// 6. RETORNO DAS 4 SAÍDAS\nreturn [\n    { payload: format(tempoStart) },                 // Saída 1 (Texto)\n    { payload: format(tempoStop) },                  // Saída 2 (Texto)\n    { payload: format(tempoTotal) },                 // Saída 3 (Texto)\n    { payload: Number(disponibilidade.toFixed(1)) }  // Saída 4 (Número para o Gauge)\n];","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1260,"wires":[["11d949e66c4cfa50"],["83609c62e934ba79"],["71a129e14a4e6e5f"],["2e9d8d22168e1345"]]},{"id":"11d949e66c4cfa50","type":"ui_text","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","group":"3e7269327dfb4ef3","order":15,"width":3,"height":2,"name":"","label":"tempo rodando","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":540,"y":1200,"wires":[]},{"id":"83609c62e934ba79","type":"ui_text","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","group":"3e7269327dfb4ef3","order":16,"width":3,"height":2,"name":"","label":"tempo parado","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":540,"y":1240,"wires":[]},{"id":"71a129e14a4e6e5f","type":"ui_text","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","group":"3e7269327dfb4ef3","order":17,"width":3,"height":2,"name":"","label":"tempo total CLP","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":540,"y":1280,"wires":[]},{"id":"65d6315f6993bbde","type":"link in","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"m_emergencia","links":["53be4d78d43ddcfd"],"x":95,"y":880,"wires":[["9abc803734e102dd","6cd4a50b593ce44c"]]},{"id":"2e9d8d22168e1345","type":"ui_gauge","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"","group":"3e7269327dfb4ef3","order":14,"width":6,"height":5,"gtype":"gage","title":"Disponibilidade","label":"\"%\"","format":"{{value}}","min":0,"max":"100","colors":["#b50000","#e6e600","#00b500"],"seg1":"40","seg2":"70","diff":false,"className":"","x":540,"y":1320,"wires":[]},{"id":"db90983cfe8115c0","type":"function","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"Media qtd","func":"// 1. Puxa a contagem atual salva na memória deste nó (ou zera se for a primeira vez)\nlet stats = context.get('contagens') || { vermelhas: 0, pretas: 0, metal: 0 };\n\n// 2. Atualiza o valor correspondente dependendo de qual tópico chegou\nif (msg.topic) {\n    let valor = Number(msg.payload) || 0;\n\n    if (msg.topic.includes(\"byte25\")) {\n        stats.vermelhas = valor;\n    } \n    else if (msg.topic.includes(\"byte20\")) {\n        stats.pretas = valor;\n    } \n    else if (msg.topic.includes(\"byte15\")) {\n        stats.metal = valor;\n    } \n    else {\n        // Se chegar alguma mensagem que não seja dessas 3, ele ignora\n        return null;\n    }\n}\n\n// 3. Salva a contagem atualizada na memória do nó\ncontext.set('contagens', stats);\n\n// 4. Monta as fatias do Gráfico Donut\n// O 'topic' será o nome que aparece na legenda, e o 'payload' é a quantidade atual\nlet msgVermelha = { topic: \"Vermelhas\", payload: stats.vermelhas };\nlet msgPreta    = { topic: \"Pretas\",    payload: stats.pretas };\nlet msgMetal    = { topic: \"Metálica\",  payload: stats.metal };\n\n// 5. Envia as três mensagens para a mesma saída (Saída 1)\n// Os colchetes duplos [[ ]] disparam as 3 fatias de uma vez para atualizar o gráfico\nreturn [[msgVermelha, msgPreta, msgMetal]];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1520,"wires":[["a9354a59829345f5"]]},{"id":"8b4a4f682a44d8b4","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B10_8","mode":"link","links":["44482e432e11b462"],"x":645,"y":260,"wires":[]},{"id":"9c9897c8635c2650","type":"function","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"Tempos medios","func":"// 1. Inicializa ou recupera os acumuladores do contexto\nlet stats = context.get('stats') || {\n    total: { soma: 0, conta: 0 },\n    vermelha: { soma: 0, conta: 0 },\n    preta: { soma: 0, conta: 0 },\n    metalica: { soma: 0, conta: 0 }\n};\n\n// 2. Processa a nova peça se o tópico for correto\nif (msg.payload && msg.topic === \"nova_peca\") {\n    let duracao = Number(msg.payload); // Garante que a leitura é número\n    let cor = msg.cor;\n\n    stats.total.soma += duracao;\n    stats.total.conta++;\n\n    if (stats[cor]) {\n        stats[cor].soma += duracao;\n        stats[cor].conta++;\n    }\n    context.set('stats', stats);\n}\n\n// 3. Função para calcular as médias\nfunction calcMedia(tipo) {\n    return stats[tipo].conta > 0 ? (stats[tipo].soma / stats[tipo].conta) : 0;\n}\n\n// --- PREPARAÇÃO DA VARIÁVEL ---\nlet mediaTotalNum = calcMedia('total');\n\n// --- MENSAGEM 1: GRÁFICO DE BARRAS ---\nlet msgGrafico = {\n    payload: [{\n        \"series\": [\"Tempo Médio (s)\"],\n        \"data\": [[\n            Number(mediaTotalNum.toFixed(2)),\n            Number(calcMedia('vermelha').toFixed(2)),\n            Number(calcMedia('preta').toFixed(2)),\n            Number(calcMedia('metalica').toFixed(2))\n        ]],\n        \"labels\": [\"Total\", \"Vermelha\", \"Preta\", \"Metálica\"]\n    }]\n};\n\n// --- MENSAGEM 2: GAUGE (VALOR MÉDIO SIMPLES) ---\n// Removemos os controles de máximo e cores dinâmicas que dependiam do timeout\nlet msgGauge = {\n    payload: Number(mediaTotalNum.toFixed(2))\n};\n\n// Retorna para as 2 saídas do nó Function (Lembre-se de mudar no nó para 2 saídas)\nreturn [msgGrafico, msgGauge];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1420,"wires":[["aaf435ce74b17998"],["0d0c738357f63c82"]]},{"id":"44482e432e11b462","type":"link in","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"link in 15","links":["8b4a4f682a44d8b4"],"x":95,"y":1420,"wires":[["9c9897c8635c2650"]]},{"id":"aaf435ce74b17998","type":"ui_chart","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"","group":"3e7269327dfb4ef3","order":13,"width":9,"height":6,"label":"Tempo médio por categoria","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#022640","#eb0000","#1a1a1a","#c2c2c2","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":540,"y":1400,"wires":[[]]},{"id":"08abde37d8c20de0","type":"link out","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"B11_0","mode":"link","links":[],"x":645,"y":300,"wires":[]},{"id":"d9de0d92ee9314dd","type":"comment","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"Este grupo exibe no dashboard os valores oriundos do CLP.","info":"**Este grupo recebe os dados via MQTT e faz a separação dos dados recebidos. Os dados vem em topicos diferentes. **","x":380,"y":540,"wires":[]},{"id":"bf71e424f30dadeb","type":"link out","z":"13faf5df5da252b8","g":"85adf0dc4e7ca8a0","name":"Clock 1Hz","mode":"link","links":["261bf03fd030c660"],"x":965,"y":360,"wires":[]},{"id":"261bf03fd030c660","type":"link in","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"Tempo analise","links":["bf71e424f30dadeb"],"x":95,"y":1260,"wires":[["eac0009d5c1dafcd"]]},{"id":"4d8e683f73003b42","type":"comment","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"Este grupo exibe no dashboard os valores das análises feitas.","info":"**Este grupo recebe os dados via MQTT e faz a separação dos dados recebidos. Os dados vem em topicos diferentes. **","x":360,"y":1140,"wires":[]},{"id":"26b47cb5dc3b070e","type":"ui_button","z":"13faf5df5da252b8","g":"d4193d3f3c3c5b2f","name":"","group":"57277dd9a4fdc113","order":2,"width":10,"height":2,"passthru":false,"label":"Start","tooltip":"START deixa o CLP pronto para atuar quando uma peça chegar.","color":"green","bgcolor":"","className":"","icon":"play_circle_outline","payload":"true","payloadType":"bool","topic":"start_nr","topicType":"str","x":790,"y":140,"wires":[["e3189d51752387e1"]]},{"id":"1a0345e1dcbc1d6b","type":"ui_button","z":"13faf5df5da252b8","g":"d4193d3f3c3c5b2f","name":"","group":"57277dd9a4fdc113","order":3,"width":10,"height":2,"passthru":false,"label":"Stop","tooltip":"STOP para a operação imediamente, sem limpar as memórias.","color":"red","bgcolor":"","className":"","icon":"pause_circle_outline","payload":"true","payloadType":"bool","topic":"stop_nr","topicType":"str","x":790,"y":180,"wires":[["e3189d51752387e1"]]},{"id":"860de359c2fe7be1","type":"ui_button","z":"13faf5df5da252b8","g":"d4193d3f3c3c5b2f","name":"","group":"57277dd9a4fdc113","order":4,"width":10,"height":2,"passthru":false,"label":"Reset","tooltip":"RESET limpa as memórias. ","color":"","bgcolor":"","className":"","icon":"sync","payload":"true","payloadType":"bool","topic":"reset_nr","topicType":"str","x":790,"y":220,"wires":[["e3189d51752387e1"]]},{"id":"e3189d51752387e1","type":"function","z":"13faf5df5da252b8","g":"d4193d3f3c3c5b2f","name":"Compilador de saidas","func":"// 0. Verifica se o botão foi realmente pressionado.\n// Ignora o evento se a mensagem for de \"soltar\" o botão (false ou 0)\nif (msg.payload === false || msg.payload === 0 || msg.payload === \"0\") {\n    return null;\n}\n\n// 1. Mapeamento de entrada para o tópico MQTT correspondente (alerta removido)\nconst mapeamento = {\n    \"start_nr\": \"sorting_fms/start\",\n    \"stop_nr\": \"sorting_fms/stop\",\n    \"reset_nr\": \"sorting_fms/reset\"\n};\n\nconst topicosDisponiveis = [\n    \"sorting_fms/start\",\n    \"sorting_fms/stop\",\n    \"sorting_fms/reset\"\n];\n\nconst topicoAtivo = mapeamento[msg.topic];\n\nif (topicoAtivo) {\n    // PASSO 1: Manda 0 apenas para os OUTROS tópicos (Zera o resto)\n    topicosDisponiveis.forEach(t => {\n        if (t !== topicoAtivo) {\n            node.send({ topic: t, payload: 0 });\n        }\n    });\n\n    // PASSO 2: Manda 1 (inteiro) apenas para o botão apertado\n    node.send({ topic: topicoAtivo, payload: 1 });\n\n    // PASSO 3: Após 500ms, \"solta\" o botão ativo (volta para 0)\n    setTimeout(() => {\n        node.send({ topic: topicoAtivo, payload: 0 });\n    }, 500);\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":180,"wires":[["9c01a18501873b1b"]]},{"id":"9c01a18501873b1b","type":"mqtt out","z":"13faf5df5da252b8","g":"d4193d3f3c3c5b2f","name":"SAÍDA","topic":"","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6919abec24585d8d","x":1190,"y":180,"wires":[]},{"id":"0d0c738357f63c82","type":"ui_gauge","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"","group":"3e7269327dfb4ef3","order":12,"width":9,"height":6,"gtype":"gage","title":"Tempo médio total das peças","label":"segundos","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"5","seg2":"14","diff":false,"className":"","x":540,"y":1440,"wires":[]},{"id":"8c4f35057824aadb","type":"mqtt in","z":"13faf5df5da252b8","g":"61b3d7bff48ee661","name":"ESP ","topic":"sorting_fms/#","qos":"2","datatype":"auto-detect","broker":"7ef9ef8e65ccc6e3","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":260,"wires":[[]]},{"id":"a9354a59829345f5","type":"ui_chart","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"","group":"3e7269327dfb4ef3","order":11,"width":9,"height":6,"label":"Quantidade por cor de peça","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#eb0000","#161718","#c2c2c2","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":540,"y":1520,"wires":[[]]},{"id":"0051e23289959b30","type":"link in","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"qtd_metalicas","links":["d7cb3425b36f386a"],"x":95,"y":1500,"wires":[["db90983cfe8115c0"]]},{"id":"c8f22d507e063b97","type":"link in","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"qtd_pretas","links":["9ce7b7f119e2a585"],"x":95,"y":1520,"wires":[["db90983cfe8115c0"]]},{"id":"894d41e7dbd6c417","type":"link in","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"qtd_vermelhas","links":["c95f853818701a60"],"x":95,"y":1540,"wires":[["db90983cfe8115c0"]]},{"id":"1c798ca9079541d8","type":"comment","z":"13faf5df5da252b8","g":"d4193d3f3c3c5b2f","name":"Este grupo envia a mensagem de saída via mqtt para o CLP.","info":"**Este grupo recebe os dados via MQTT e faz a separação dos dados recebidos. Os dados vem em topicos diferentes. **","x":1000,"y":60,"wires":[]},{"id":"f38c747227248ac4","type":"ui_text","z":"13faf5df5da252b8","g":"934bd7d2559f3470","group":"3e7269327dfb4ef3","order":5,"width":0,"height":0,"name":"","label":"--- DADOS DA LINHA ---","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#000000","x":530,"y":980,"wires":[]},{"id":"17608e0e4f530771","type":"ui_text","z":"13faf5df5da252b8","g":"d4193d3f3c3c5b2f","group":"57277dd9a4fdc113","order":1,"width":0,"height":0,"name":"","label":"--- COMANDOS PARA O CLP ---","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#000000","x":1100,"y":100,"wires":[]},{"id":"7d144ed47c303dc9","type":"ui_text","z":"13faf5df5da252b8","g":"934bd7d2559f3470","group":"3e7269327dfb4ef3","order":10,"width":0,"height":0,"name":"","label":"--- DADOS GRÁFICOS ---","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#000000","x":190,"y":980,"wires":[]},{"id":"cf03d38e80294b89","type":"ui_text","z":"13faf5df5da252b8","g":"934bd7d2559f3470","group":"3e7269327dfb4ef3","order":2,"width":10,"height":1,"name":"","label":"                 --- DADOS DE PRODUÇÃO ---","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#000000","x":350,"y":1040,"wires":[]},{"id":"cd842178e51e8124","type":"ui_template","z":"13faf5df5da252b8","g":"85adf0dc4e7ca8a0","group":"0257dabe7af98b15","name":"Texto para a página inicial","order":0,"width":0,"height":0,"format":"<div style=\"text-align: center; font-family: 'Roboto', sans-serif; color: #333; padding: 10px;\">\n\n    <img src=\"https://upload.wikimedia.org/wikipedia/commons/0/0a/Logo_Unesp.svg\" alt=\"Unesp\" style=\"width: 80%; max-width: 300px; margin-bottom: 20px;\">\n\n    <h2 style=\"color: #004587; margin-bottom: 5px; font-weight: 700;\">\n         Trabalho de TAI — Parte 2\n    </h2>\n\n    <div style=\"width: 60px; height: 3px; background: #004587; margin: 10px auto 20px auto; border-radius: 2px;\"></div>\n\n    <div\n        style=\"background: #f9f9f9; border-radius: 8px; padding: 15px; border-left: 5px solid #004587; text-align: left; display: inline-block; min-width: 80%;\">\n\n        <p style=\"margin: 5px 0;\">\n            <span style=\"color: #004587; font-weight: bold;\"> Discentes:</span><br>\n            &nbsp;&nbsp;&nbsp;• Luiz Henrique Monteiro<br>\n            &nbsp;&nbsp;&nbsp;• Bruno Eneas\n        </p>\n\n        <p style=\"margin: 15px 0 5px 0;\">\n            <span style=\"color: #004587; font-weight: bold;\"> Docente:</span><br>\n            &nbsp;&nbsp;&nbsp;• Prof. Dr. Eduardo P. Godoy\n        </p>\n    </div>\n\n    <div style=\"margin-top: 25px; font-style: italic; color: #555; border-top: 1px solid #ddd; padding-top: 15px;\">\n        <span style=\"font-size: 1.1em;\">\n             <b>Integração:</b> Supervisório Elipse ↔ Node-RED via <b>MQTT</b>\n        </span>\n    </div>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":850,"y":400,"wires":[[]]},{"id":"c68962adc70fd890","type":"ui_template","z":"13faf5df5da252b8","g":"85adf0dc4e7ca8a0","group":"faac9b184252b27f","name":"Texto para a janela de SOBRE","order":0,"width":0,"height":0,"format":"<style>\n    @keyframes jeb_colors {\n        0% {\n            color: #ff0000;\n        }\n\n        17% {\n            color: #ff8000;\n        }\n\n        33% {\n            color: #ffff00;\n        }\n\n        50% {\n            color: #00ff00;\n        }\n\n        67% {\n            color: #0000ff;\n        }\n\n        84% {\n            color: #4b0082;\n        }\n\n        100% {\n            color: #ee82ee;\n        }\n    }\n\n    .jeb-text {\n        font-family: 'Arial Black', sans-serif;\n        font-size: 1.8em;\n        font-weight: bold;\n        text-align: center;\n        letter-spacing: 2px;\n        animation: jeb_colors 4s linear infinite;\n        margin-bottom: 10px;\n    }\n</style>\n\n<div style=\"font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; \n            background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); \n            padding: 30px; \n            border-radius: 20px; \n            box-shadow: 0 15px 35px rgba(0,0,0,0.1); \n            color: #2c3e50; \n            max-width: 600px; \n            margin: 20px auto;\n            border: 1px solid rgba(255,255,255,0.4);\">\n\n    <div style=\"text-align: center; margin-bottom: 25px;\">\n        <img src=\"https://upload.wikimedia.org/wikipedia/commons/0/0a/Logo_Unesp.svg\"\n             alt=\"Unesp\" style=\"width: 220px; filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.1));\">\n\n        <h1\n            style=\"font-size: 24px; color: #004587; margin-top: 20px; text-transform: uppercase; letter-spacing: 2px; font-weight: 800; margin-bottom: 0;\">\n            Sistemas de Supervisão e Controle\n        </h1>\n        <div style=\"width: 50px; height: 4px; background: #ffcc00; margin: 10px auto 20px auto; border-radius: 10px;\">\n        </div>\n\n        <div class=\"jeb-text\">NODE-RED</div>\n    </div>\n\n    <div\n        style=\"background: rgba(255,255,255,0.6); padding: 15px; border-radius: 15px; text-align: center; margin-bottom: 25px; backdrop-filter: blur(5px);\">\n        <span style=\"font-size: 1.1em; font-weight: 600; color: #34495e; text-transform: uppercase;\">\n            TAI - Parte 2: Ecossistema de Integração\n        </span>\n    </div>\n\n    <div style=\"display: grid; grid-template-columns: 1fr; gap: 15px;\">\n\n        <div\n            style=\"background: white; padding: 15px; border-radius: 12px; border-left: 6px solid #004587; box-shadow: 4px 4px 10px rgba(0,0,0,0.05);\">\n            <div style=\"margin-bottom: 10px;\">\n                <b style=\"font-size: 1.1em; color: #004587; text-transform: uppercase;\">Escopo Técnico</b>\n            </div>\n            <p style=\"margin: 5px 0; line-height: 1.5; font-size: 0.95em;\">\n                Integração avançada via protocolo <b>MQTT</b> estabelecendo a ponte de dados entre:\n                <br><b>Elipse E3</b> — <b>Node-RED</b> — <b>CLP</b>\n            </p>\n        </div>\n\n        <div style=\"background: #e3f2fd; padding: 15px; border-radius: 12px; border: 1px solid #004587;\">\n            <div style=\"margin-bottom: 5px;\">\n                <b style=\"color: #0d47a1; text-transform: uppercase;\">Prototipagem</b>\n            </div>\n            <p style=\"margin: 0; font-size: 0.9em; color: #1565c0; text-align: justify;\">\n                Desenvolvimento de um simulador de estação sorting embarcado em <b>ESP32</b>.\n                Esta abordagem permitiu a validação remota das lógicas de controle e do dashboard,\n                garantindo a viabilidade técnica independente da infraestrutura física do CLP.\n            </p>\n        </div>\n\n        <div\n            style=\"background: rgba(255,255,255,0.8); padding: 15px; border-radius: 12px; display: flex; justify-content: space-between; align-items: center;\">\n            <div style=\"font-size: 0.85em;\">\n                <b style=\"color: #004587; display: block; margin-bottom: 4px; text-transform: uppercase;\">Discentes</b>\n                -Luiz Henrique Monteiro<br>\n                -Bruno Eneas\n            </div>\n            <div style=\"font-size: 0.85em; text-align: right;\">\n                <b style=\"color: #004587; display: block; margin-bottom: 4px; text-transform: uppercase;\">Docente</b>\n                -Prof. Dr. Eduardo P. Godoy\n            </div>\n        </div>\n    </div>\n\n    <div\n        style=\"margin-top: 25px; text-align: center; font-size: 0.8em; color: #7f8c8d; border-top: 1px solid rgba(0,0,0,0.1); padding-top: 15px;\">\n        Engenharia de Controle e Automação — Unesp Sorocaba\n    </div>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":870,"y":440,"wires":[[]]},{"id":"d220897707252843","type":"ui_button","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"","group":"3e7269327dfb4ef3","order":18,"width":6,"height":1,"passthru":false,"label":"Reset time","tooltip":"Resetar os tempos de START e STOP que o CLP se encontra.","color":"red","bgcolor":"#FDE992","className":"","icon":"timer","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":1640,"wires":[["86fcacd58dee2a9e"]]},{"id":"86fcacd58dee2a9e","type":"function","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"Rst time","func":"// 1. Zera as variáveis na memória do fluxo\nflow.set(\"tempoStart\", 0);\nflow.set(\"tempoStop\", 0);\n\n// 2. Opcional: Enviar uma mensagem para limpar os displays imediatamente\n// Retornamos 0 formatado para as saídas de texto e 0 para o gauge\nfunction zerado() { return \"00:00:00\"; }\n\nreturn [\n    { payload: zerado() }, // Saída 1: Tempo Start\n    { payload: zerado() }, // Saída 2: Tempo Stop\n    { payload: zerado() }, // Saída 3: Tempo Total\n    { payload: 0 }         // Saída 4: Gauge de Disponibilidade\n];","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1640,"wires":[["09b96814e9db068b"],["bcf947124575d31f"],["3df22ccb48d431f9"],["16ac8ba78f64b2ca"]]},{"id":"16ac8ba78f64b2ca","type":"link out","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"RESET_TIMER_4","mode":"link","links":[],"x":435,"y":1660,"wires":[]},{"id":"3df22ccb48d431f9","type":"link out","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"RESET_TIMER_3","mode":"link","links":[],"x":435,"y":1640,"wires":[]},{"id":"bcf947124575d31f","type":"link out","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"RESET_TIMER_2","mode":"link","links":[],"x":435,"y":1620,"wires":[]},{"id":"09b96814e9db068b","type":"link out","z":"13faf5df5da252b8","g":"29f2ce4cc95cc0ed","name":"RESET_TIMER_1","mode":"link","links":[],"x":435,"y":1600,"wires":[]},{"id":"2fbe9c9b667d2447","type":"function","z":"13faf5df5da252b8","g":"85adf0dc4e7ca8a0","name":"Verificador de conexão","func":"// O nó Status envia msg.status, mas nós queremos trabalhar com msg.payload\n// Vamos extrair o texto do status com segurança\nlet statusTexto = \"\";\n\nif (msg.status && msg.status.text) {\n    statusTexto = msg.status.text;\n} else {\n    // Caso o nó seja disparado sem texto definido ainda\n    return null;\n}\n\nlet layout = {\n    text: \"BROKER DESCONECTADO\",\n    color: \"#d32f2f\" // Vermelho padrão\n};\n\n// Se o texto contiver 'connected' ou 'conectado'\nif (statusTexto.indexOf(\"connected\") !== -1 || statusTexto.indexOf(\"conectado\") !== -1) {\n    layout.text = \"BROKER CONECTADO\";\n    layout.color = \"#2e7d32\"; // Verde\n    flow.set(\"brokerLigado\", true);\n} else {\n    flow.set(\"brokerLigado\", false);\n}\n\n// AGORA SIM definimos o payload para o resto do fluxo\nmsg.payload = layout;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":320,"wires":[["3025434a91105409","0c505b5cba6b4e5c","2ab408b0a724a789"]]},{"id":"3025434a91105409","type":"ui_template","z":"13faf5df5da252b8","g":"85adf0dc4e7ca8a0","group":"0257dabe7af98b15","name":"Indicador de status broker","order":1,"width":0,"height":0,"format":"<div style=\"background-color: #FDE992; \n            padding: 10px; \n            border-radius: 10px; \n            text-align: center; \n            font-weight: bold; \n            border: 2px solid {{msg.payload.color}}; \n            color: {{msg.payload.color}};\">\n    {{msg.payload.text}}\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1130,"y":360,"wires":[[]]},{"id":"fca081837e0dd42d","type":"status","z":"13faf5df5da252b8","g":"85adf0dc4e7ca8a0","name":"","scope":["ae28733fadd03c57"],"x":800,"y":320,"wires":[["2fbe9c9b667d2447"]]},{"id":"0c505b5cba6b4e5c","type":"ui_template","z":"13faf5df5da252b8","g":"85adf0dc4e7ca8a0","group":"3e7269327dfb4ef3","name":"Indicador de status broker","order":3,"width":4,"height":1,"format":"<div style=\"background-color: #FDE992; \n            padding: 10px; \n            border-radius: 10px; \n            text-align: center; \n            font-weight: bold; \n            border: 2px solid {{msg.payload.color}}; \n            color: {{msg.payload.color}};\">\n    {{msg.payload.text}}\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1130,"y":400,"wires":[[]]},{"id":"2ab408b0a724a789","type":"ui_template","z":"13faf5df5da252b8","g":"85adf0dc4e7ca8a0","group":"57277dd9a4fdc113","name":"Indicador de status broker","order":1,"width":0,"height":0,"format":"<div style=\"background-color: #FDE992; \n            padding: 10px; \n            border-radius: 10px; \n            text-align: center; \n            font-weight: bold; \n            border: 2px solid {{msg.payload.color}}; \n            color: {{msg.payload.color}};\">\n    {{msg.payload.text}}\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1130,"y":440,"wires":[[]]},{"id":"60db4a28fea3027e","type":"ui_toast","z":"13faf5df5da252b8","g":"934bd7d2559f3470","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"Aviso de erro na linha","x":420,"y":860,"wires":[[]]},{"id":"9d88dfbf196606d0","type":"ui_toast","z":"13faf5df5da252b8","g":"934bd7d2559f3470","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"Aviso de emergência na linha","x":440,"y":900,"wires":[[]]},{"id":"f5ee11a32ba229e4","type":"function","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"Problema linha","func":"// 1. Lemos o valor do bit5 que chegou do separador\nlet sinalRecebido = msg.payload; // Pode ser true ou false\n\n// --- AJUSTE DE LÓGICA (NORMALMENTE FECHADO / NORMALMENTE ABERTO) ---\n// Se o seu botão de emergência for Normalmente Fechado (NF), ele manda 'false' quando pressionado.\n// Se esse for o caso, mude a variável abaixo para true. Se for um botão comum (NA), deixe false.\nlet botaoNormalmenteFechado = true; \n\n// Descobre se estamos de fato em emergência\nlet isEmergencia = botaoNormalmenteFechado ? (sinalRecebido === false) : (sinalRecebido === true);\n\n// 2. Montamos o HTML da emergência\nlet telaEmergencia = `\n<style>\n    @keyframes pulse-emergency {\n        0%   { background-color: #FDE992; }\n        50%  { background-color: #ff0000; color: white; }\n        100% { background-color: #FDE992; }\n    }\n    .emergency-box {\n        padding: 25px;\n        border-radius: 12px;\n        text-align: center;\n        font-weight: 900;\n        font-size: 22px;\n        border: 5px dashed #000;\n        color: #ff0000;\n        animation: pulse-emergency 1.2s infinite ease-in-out;\n    }\n</style>\n<div class=\"emergency-box\">\n     EMERGÊNCIA DE LINHA PRESSIONADA 🚨<br>\n    <small style=\"font-size: 14px; display: block; margin-top: 10px; color: #000;\">O RESET DEVE SER FEITO MANUALMENTE</small>\n</div>\n`;\n\n// 3. Montamos o HTML de quando NÃO há emergência (pode ser vazio para sumir do painel)\nlet telaNormal = `<div style=\"display: none;\"></div>`; // Um bloco invisível para limpar a tela\n\n// 4. Decide qual tela enviar baseado no status da emergência\nlet telaAtual = isEmergencia ? telaEmergencia : telaNormal;\n\n// 5. Lemos o último estado salvo na memória para evitar recarregar a tela à toa\nlet ultimoEstado = context.get(\"ultimoEstado\");\n\n// Se a tela atual já for a que está no painel, encerra por aqui\nif (ultimoEstado === telaAtual) {\n    return null;\n}\n\n// 6. Atualizamos a memória e enviamos a nova tela\ncontext.set(\"ultimoEstado\", telaAtual);\nmsg.payload = telaAtual;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":860,"wires":[["60db4a28fea3027e"]]},{"id":"9abc803734e102dd","type":"function","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"Emergência","func":"// 1. Verificamos se a entrada é REALMENTE uma emergência\n// Se o payload for falso (0), limpamos o estado e não exibimos a tela\nif (msg.payload === false || msg.payload === 0) {\n    context.set(\"ultimoEstado\", null); \n    return null; \n}\n\n// 2. Se chegou aqui, a emergência é verdadeira. Montamos o HTML:\nlet telaEmergencia = `\n<style>\n    @keyframes pulse-emergency {\n        0%   { background-color: #FDE992; }\n        50%  { background-color: #ff0000; color: white; }\n        100% { background-color: #FDE992; }\n    }\n    .emergency-box {\n        padding: 25px;\n        border-radius: 12px;\n        text-align: center;\n        font-weight: 900;\n        font-size: 22px;\n        border: 5px dashed #000;\n        color: #ff0000;\n        animation: pulse-emergency 1.2s infinite ease-in-out;\n    }\n</style>\n<div class=\"emergency-box\">\n     EMERGÊNCIA DE LINHA PRESSIONADA 🚨<br>\n    <small style=\"font-size: 14px; display: block; margin-top: 10px; color: #000;\">O RESET DEVE SER FEITO MANUALMENTE</small>\n</div>\n`;\n\n// 3. Trava de repetição: Só envia se o estado anterior não era emergência\nlet ultimoEstado = context.get(\"ultimoEstado\");\n\nif (ultimoEstado === \"EMERGENCIA_ATIVA\") {\n    return null; // Já está exibindo, não faz nada\n}\n\n// 4. Ativa a emergência na memória e envia\ncontext.set(\"ultimoEstado\", \"EMERGENCIA_ATIVA\");\nmsg.payload = telaEmergencia;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":900,"wires":[["9d88dfbf196606d0"]]},{"id":"f62912126026e08d","type":"function","z":"13faf5df5da252b8","g":"1f68d429f5760fb4","name":"Gerenciador de Logs","func":"// === 1. LÓGICA DO BOTÃO LIMPAR ===\n// Intercepta a palavra exata enviada pelo botão\nif (msg.payload === \"limpar\" || msg.topic === \"limpar_log\") {\n    context.set('logs_producao', []); // Apaga a memória interna do Node-RED\n    msg.payload = [];                 // Envia uma lista vazia para apagar o ecrã\n    return msg;\n}\n\n// === 2. CONFIGURAÇÕES NORMAIS ===\nconst MAX_LOGS = 15;\n\nlet logs = context.get('logs_producao') || [];\nlet ultimosValores = context.get('ultimos_valores') || {};\n\nlet topico = String(msg.topic || \"\");\nlet valor = Number(msg.payload);\n\n// Removido o código 49\nconst codigosDeErro = [3, 4, 5, 99];\n\n// Se não houve mudança geral no valor do tópico, ignora\nif (ultimosValores[topico] === valor) {\n    return null;\n}\n\nlet valorAntigo = ultimosValores[topico] || 0;\nultimosValores[topico] = valor;\ncontext.set('ultimos_valores', ultimosValores);\n\nlet tipo = \"\";\nlet mensagem = \"\";\nlet cor = \"\";\nlet data = new Date();\nlet horaFormatada = data.toLocaleTimeString('pt-BR');\n\n// === 3. LÓGICA DE EVENTOS ===\n\nif (topico.includes(\"byte15\") && valor > valorAntigo) {\n    tipo = \"Metálica\";\n    mensagem = `Peça detetada. Total: ${valor}`;\n    cor = \"#95a5a6\";\n}\nelse if (topico.includes(\"byte20\") && valor > valorAntigo) {\n    tipo = \"Preta\";\n    mensagem = `Peça detetada. Total: ${valor}`;\n    cor = \"#2c3e50\";\n}\nelse if (topico.includes(\"byte25\") && valor > valorAntigo) {\n    tipo = \"Vermelha\";\n    mensagem = `Peça detetada. Total: ${valor}`;\n    cor = \"#e74c3c\";\n}\n\n// === LÓGICA DE MÁQUINA CORRIGIDA (START / STOP / ERROS) ===\nelse if (topico.includes(\"byte10\") || topico.includes(\"byte11\")) {\n    \n    // Extrai o estado exato dos bits de controle atuais e antigos\n    let startAtual = (valor & 1) !== 0;\n    let startAntigo = (valorAntigo & 1) !== 0;\n    \n    let stopAtual = (valor & 2) !== 0;\n    let stopAntigo = (valorAntigo & 2) !== 0;\n\n    // Só registra se o botão START foi ativado AGORA (mudou de 0 para 1)\n    if (startAtual === true && startAntigo === false) {\n        tipo = \"START\";\n        mensagem = \"Máquina em operação.\";\n        cor = \"#27ae60\";\n    }\n    // Só registra se o botão STOP foi ativado AGORA (mudou de 0 para 1)\n    else if (stopAtual === true && stopAntigo === false) {\n        tipo = \"STOP\";\n        mensagem = \"Máquina parada.\";\n        cor = \"#e67e22\";\n    }\n    // Verifica códigos de erro numéricos normais\n    else if (codigosDeErro.includes(valor)) {\n        tipo = \"ALERTA\";\n        mensagem = \"Falha/Aviso na máquina! Código: \" + valor;\n        cor = \"#c0392b\";\n    }\n    // Verifica reset do código de erro\n    else if (valor === 0 && codigosDeErro.includes(valorAntigo)) {\n        tipo = \"Status\";\n        mensagem = \"Máquina normalizada / resetada.\";\n        cor = \"#2ecc71\";\n    }\n    else {\n        return null; // Ignora as outras mudanças (como a peça entrando e saindo)\n    }\n}\nelse {\n    return null;\n}\n\n// Monta e guarda o registro\nlet novoLog = { hora: horaFormatada, tipo: tipo, mensagem: mensagem, cor: cor };\nlogs.unshift(novoLog);\nif (logs.length > MAX_LOGS) { logs.pop(); }\n\ncontext.set('logs_producao', logs);\nmsg.payload = logs;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":620,"wires":[["4e27855e8f348bd5"]]},{"id":"4e27855e8f348bd5","type":"ui_template","z":"13faf5df5da252b8","g":"1f68d429f5760fb4","group":"d5beb78e9c15d895","name":"","order":1,"width":18,"height":6,"format":"<style>\n    /* Estilo da \"caixa\" do log imitando um terminal escuro moderno */\n    .painel-logs {\n        background-color: #1e1e24;\n        color: #e0e0e0;\n        height: 100%;\n        min-height: 300px;\n        max-height: 400px;\n        overflow-y: auto;\n        padding: 10px;\n        border-radius: 8px;\n        font-family: 'Consolas', 'Courier New', monospace;\n        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);\n    }\n\n    /* Estilo de cada linha */\n    .linha-log {\n        display: flex;\n        align-items: center;\n        padding: 8px 5px;\n        border-bottom: 1px dashed #333;\n        transition: background-color 0.2s;\n    }\n\n    .linha-log:hover {\n        background-color: #2a2a32;\n    }\n\n    .linha-log:last-child {\n        border-bottom: none;\n    }\n\n    /* Hora */\n    .log-hora {\n        color: #888;\n        font-size: 0.85em;\n        width: 75px;\n        flex-shrink: 0;\n    }\n\n    /* Etiqueta colorida (Badge) */\n    .log-badge {\n        padding: 4px 8px;\n        border-radius: 4px;\n        font-size: 0.8em;\n        font-weight: bold;\n        color: #fff;\n        text-align: center;\n        width: 75px;\n        margin-right: 15px;\n        flex-shrink: 0;\n        text-transform: uppercase;\n        letter-spacing: 1px;\n    }\n\n    /* Mensagem do log */\n    .log-msg {\n        font-size: 0.95em;\n        flex-grow: 1;\n    }\n\n    /* Customização da barra de rolagem (Scrollbar) para ficar elegante */\n    .painel-logs::-webkit-scrollbar {\n        width: 8px;\n    }\n\n    .painel-logs::-webkit-scrollbar-track {\n        background: #1e1e24;\n    }\n\n    .painel-logs::-webkit-scrollbar-thumb {\n        background: #555;\n        border-radius: 4px;\n    }\n\n    .painel-logs::-webkit-scrollbar-thumb:hover {\n        background: #777;\n    }\n</style>\n\n<div class=\"painel-logs\">\n    <div class=\"linha-log\" ng-repeat=\"log in msg.payload track by $index\">\n        <div class=\"log-hora\">{{log.hora}}</div>\n        <div class=\"log-badge\" style=\"background-color: {{log.cor}};\">{{log.tipo}}</div>\n        <div class=\"log-msg\">{{log.mensagem}}</div>\n    </div>\n\n    <div ng-if=\"!msg.payload || msg.payload.length === 0\"\n        style=\"text-align:center; padding: 30px; color: #555; font-style: italic;\">\n        Aguardando eventos da linha de produção...\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1180,"y":620,"wires":[[]]},{"id":"502be4a274dce701","type":"link in","z":"13faf5df5da252b8","g":"1f68d429f5760fb4","name":"link in 1","links":["4e58729dfdec5a24"],"x":755,"y":560,"wires":[["f62912126026e08d"]]},{"id":"7efe427ec1c1b443","type":"link in","z":"13faf5df5da252b8","g":"1f68d429f5760fb4","name":"link in 2","links":["bc75cb96d25ed904"],"x":755,"y":580,"wires":[["f62912126026e08d"]]},{"id":"d8026e6a5067ef3e","type":"link in","z":"13faf5df5da252b8","g":"1f68d429f5760fb4","name":"link in 3","links":["d7cb3425b36f386a"],"x":755,"y":600,"wires":[["f62912126026e08d"]]},{"id":"de23191b9086279e","type":"link in","z":"13faf5df5da252b8","g":"1f68d429f5760fb4","name":"link in 4","links":["9ce7b7f119e2a585"],"x":755,"y":620,"wires":[["f62912126026e08d"]]},{"id":"7fe4ce74a3665332","type":"link in","z":"13faf5df5da252b8","g":"1f68d429f5760fb4","name":"link in 5","links":["c95f853818701a60"],"x":755,"y":640,"wires":[["f62912126026e08d"]]},{"id":"419e80f6b964ba2c","type":"link in","z":"13faf5df5da252b8","g":"1f68d429f5760fb4","name":"link in 6","links":["6be070daa11fa5c8"],"x":755,"y":660,"wires":[["f62912126026e08d"]]},{"id":"873bd05c5f4ecd39","type":"link in","z":"13faf5df5da252b8","g":"1f68d429f5760fb4","name":"link in 7","links":["8defe11ca81d6932"],"x":755,"y":680,"wires":[["f62912126026e08d"]]},{"id":"45baea5839ab79d7","type":"ui_button","z":"13faf5df5da252b8","g":"1f68d429f5760fb4","name":"","group":"d5beb78e9c15d895","order":2,"width":0,"height":0,"passthru":false,"label":"Limpar Log","tooltip":"Limpa os Logs anteriores.","color":"red","bgcolor":"","className":"","icon":"clear_all","payload":"limpar","payloadType":"str","topic":"topic","topicType":"msg","x":950,"y":680,"wires":[["f62912126026e08d"]]},{"id":"abcfd11a5f9096de","type":"comment","z":"13faf5df5da252b8","g":"1f68d429f5760fb4","name":"Este grupo envia a mensagem de LOG na tela.","info":"**Este grupo recebe os dados via MQTT e faz a separação dos dados recebidos. Os dados vem em topicos diferentes. **","x":1000,"y":540,"wires":[]},{"id":"6cd4a50b593ce44c","type":"function","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"status de linha","func":"// Recupera o estado atual salvo na memória (contexto do nó)\n// Se não existir, cria o estado inicial \"AGUARDANDO\"\nlet estado = context.get(\"estadoAtual\") || {\n    texto: \"AGUARDANDO...\",\n    cor: \"#2c3e50\",\n    icone: \"power-off\",\n    emergencia: false\n};\n\nlet topic = msg.topic || \"\";\nlet payload = msg.payload; // true ou false\n\n// 1. TRATAMENTO DA EMERGÊNCIA (Você confirmou que false = Sem emergência)\nif (topic.includes(\"emergencia\")) {\n    estado.emergencia = (payload === true || payload === 1 || payload === \"1\");\n}\n\n// 2. TRATAMENTO DOS OUTROS STATUS (Só aceita se a emergência NÃO estiver ativa)\nif (!estado.emergencia) {\n    \n    // Só mudamos o status se o botão correspondente for pressionado (true)\n    if (payload === true || payload === 1 || payload === \"1\") {\n        \n        if (topic.includes(\"start\")) {\n            estado.texto = \"RODANDO\";\n            estado.cor = \"#2ecc71\";\n            estado.icone = \"play-circle\";\n        } \n        else if (topic.includes(\"stop\") || topic.includes(\"reset\")) {\n            estado.texto = \"INTERROMPIDO\";\n            estado.cor = \"#e67e22\";\n            estado.icone = topic.includes(\"reset\") ? \"refresh\" : \"stop-circle\";\n        } \n        else if (topic.includes(\"problema\")) {\n            estado.texto = \"ERRO / FALHA\";\n            estado.cor = \"#c0392b\";\n            estado.icone = \"warning\";\n        }\n    }\n} else {\n    // Se a emergência estiver ativa, força o visual de alerta\n    estado.texto = \"EMERGÊNCIA ATIVA\";\n    estado.cor = \"#c0392b\";\n    estado.icone = \"exclamation-triangle\";\n}\n\n// Salva o estado para a próxima vez que uma mensagem chegar\ncontext.set(\"estadoAtual\", estado);\n\n// Coloca os dados organizados dentro de msg.statusInfo\nmsg.statusInfo = estado;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":820,"wires":[["8b7fb373bedc634b"]]},{"id":"faaebda5b4f0954d","type":"link in","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"qtd_metalicas","links":["d7cb3425b36f386a"],"x":435,"y":600,"wires":[["b8ceb053ad8736fd"]]},{"id":"400a0eef52e9f168","type":"link in","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"qtd_pretas","links":["9ce7b7f119e2a585"],"x":435,"y":620,"wires":[["b8ceb053ad8736fd"]]},{"id":"7f36ceaf1b359879","type":"link in","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"qtd_vermelhas","links":["c95f853818701a60"],"x":435,"y":640,"wires":[["b8ceb053ad8736fd"]]},{"id":"b8ceb053ad8736fd","type":"function","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"Verifica cor","func":"// ==========================================\n// NÓ FUNCTION: ANALISADOR DE PEÇA SEGURO\n// ==========================================\nlet contagens = context.get(\"contagens\") || { metal: -1, preta: -1, vermelha: -1 };\nlet topico = String(msg.topic || \"\").toLowerCase();\n\n// Força a conversão para número (útil caso o CLP envie como string ou buffer)\nlet valor = Number(msg.payload); \nlet msgTela = null;\n\n// --- DEBUG VISUAL NO NODE-RED ---\n// Isso vai mostrar embaixo do nó qual tópico e valor ele está lendo AGORA!\nnode.status({fill:\"blue\", shape:\"dot\", text: \"Lendo: \" + topico + \" | Val: \" + valor});\n\n// Evita processar sinais booleanos (true/false) acidentais que não sejam números de contagem\nif (!isNaN(valor)) {\n    \n    // ==========================================\n    // ANÁLISE DE CONTAGEM (A Prova Final)\n    // ==========================================\n    // METAL (Byte 15)\n    if (topico.includes(\"byte15\")) {\n        // Se for a primeira vez lendo e o valor for > 0, OU se o contador subiu\n        if ((contagens.metal === -1 && valor > 0) || (contagens.metal !== -1 && valor > contagens.metal)) {\n            msgTela = { payload: \"metalica\" };\n        }\n        contagens.metal = valor;\n    } \n    \n    // VERMELHA (Byte 25)\n    else if (topico.includes(\"byte25\")) {\n        if ((contagens.vermelha === -1 && valor > 0) || (contagens.vermelha !== -1 && valor > contagens.vermelha)) {\n            msgTela = { payload: \"vermelha\" };\n        }\n        contagens.vermelha = valor;\n    }\n    \n    // PRETA (Byte 20)\n    else if (topico.includes(\"byte20\")) {\n        if ((contagens.preta === -1 && valor > 0) || (contagens.preta !== -1 && valor > contagens.preta)) {\n            msgTela = { payload: \"preta\" };\n        }\n        contagens.preta = valor;\n    }\n}\n\n// Salva as contagens na memória para o próximo ciclo\ncontext.set(\"contagens\", contagens);\n\n// Se detectou uma peça nova, envia para a tela e muda o status visual para VERDE\nif (msgTela) {\n    node.status({fill:\"green\", shape:\"dot\", text: \"Enviou para tela: \" + msgTela.payload});\n    return msgTela;\n}\n\n// Não retorna nada se a contagem não subiu (não polui a tela)\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":620,"wires":[["5a16fe40c0a85118"]]},{"id":"5a16fe40c0a85118","type":"ui_template","z":"13faf5df5da252b8","g":"934bd7d2559f3470","group":"3e7269327dfb4ef3","name":"Cor da peça","order":8,"width":9,"height":3,"format":"<div style=\"display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; padding: 5px; box-sizing: border-box; overflow: hidden;\">\n\n    <div ng-init=\"estadoPeca = {nome: 'AGUARDANDO...', cor: '#555', icone: 'pause'}\"\n        style=\"display: flex; align-items: center; padding: 15px; border-radius: 10px; color: white; transition: all 0.4s; width: 95%; max-width: 400px; box-sizing: border-box;\"\n        ng-style=\"{'background-color': estadoPeca.cor}\">\n\n        <div style=\"flex-grow: 1;\">\n            <div style=\"font-size: 0.75em; text-transform: uppercase; opacity: 0.8; letter-spacing: 1px;\">Última Peça Contabilizada</div>\n            <div style=\"font-size: 1.5em; font-weight: bold; margin-top: 2px;\">{{estadoPeca.nome}}</div>\n        </div>\n\n        <i class=\"fa fa-2x\" ng-class=\"'fa-' + estadoPeca.icone\"></i>\n    </div>\n\n    <script>\n        (function(scope) {\n            scope.$watch('msg', function(msg) {\n                if (!msg || !msg.payload) return;\n\n                let corConfirmada = String(msg.payload).toLowerCase().trim();\n\n                if (corConfirmada === 'limpar') {\n                    scope.estadoPeca = {nome: 'AGUARDANDO...', cor: '#555', icone: 'pause'};\n                } else if (corConfirmada === 'metalica') {\n                    scope.estadoPeca = {nome: 'METÁLICA', cor: '#95a5a6', icone: 'cog'};\n                } else if (corConfirmada === 'vermelha') {\n                    scope.estadoPeca = {nome: 'VERMELHA', cor: '#e74c3c', icone: 'cube'};\n                } else if (corConfirmada === 'preta') {\n                    scope.estadoPeca = {nome: 'PRETA', cor: '#2c3e50', icone: 'square'};\n                }\n            });\n        })(scope);\n    </script>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":550,"y":660,"wires":[[]]},{"id":"4c5d9ac6244575d1","type":"function","z":"13faf5df5da252b8","g":"934bd7d2559f3470","name":"Conta peça","func":"// Recupera a memória interna do Node-RED ou cria uma zerada\nlet contagens = context.get(\"memoriaContagens\") || { vermelhas: 0, pretas: 0, metal: 0 };\nlet topico = String(msg.topic || \"\");\nlet valor = Number(msg.payload) || 0;\n\n// Atualiza apenas a cor correspondente\nif (topico.includes(\"byte25\")) {\n    contagens.vermelhas = valor;\n} else if (topico.includes(\"byte20\")) {\n    contagens.pretas = valor;\n} else if (topico.includes(\"byte15\")) {\n    contagens.metal = valor;\n}\n\n// Calcula o total\ncontagens.total = contagens.vermelhas + contagens.pretas + contagens.metal;\n\n// Salva a memória para a próxima vez\ncontext.set(\"memoriaContagens\", contagens);\n\n// Envia o pacote completo para a tela\nmsg.payload = contagens;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":720,"wires":[["5a8e3d1c2fa383cd"]]},{"id":"3d32b7bde6936448","type":"comment","z":"13faf5df5da252b8","name":"Esta é a versão final, feita na unesp, dia 22/04/2026","info":"**Este grupo recebe os dados via MQTT e faz a separação dos dados recebidos. Os dados vem em topicos diferentes. **","x":970,"y":840,"wires":[]},{"id":"60ed8629c5b9593a","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]